<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: "form-control", autofocus: true,
        placeholder: 'Example: Do I need to learn to code in Ruby before starting Ruby on Rails?' %>
  </div>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: "form-control",
        placeholder: "Example: I've never programmed before and come from a non-technical, marketing background." %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
