<% @title="Ask a Developer" %>

<div class="container questions"> 
<div class="container">
  <div class="row">
    <div class="col-md-12 center">
      <div class="description-body">
        <h3>Guidelines</h3>
        <p>
          The Ask a Developer forum is here as a source of technical advice. Do you need help outlining the approach for your app's next feature? Or do you just have a general question about a specific Rails topic? Ask experienced developers here in the BaseRails community.
        </p>
        <p>
          If instead you're having trouble with a specific BaseRails video, please post a comment in the 'Discussion' section below the video. For troubleshooting specific to your app, check out <%= link_to "Stack Overflow", "http://stackoverflow.com/" %>.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11">
      <div class="newq btn btn-primary">
        <%= link_to 'Post new question', new_question_path %>
      </div>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% @questions.each do |question| %>
      <div class="question-each">
        <h4>
          <%= link_to question do %>
            <%= question.subject %><br>
          <% end %>
        </h4>
        <% if false %>
        Posted <span id="time"> <%= time_ago_in_words(question.created_at) %></span> ago by <span id="name"><%= question.user_name %></span>
        <span id="replies"><%= "#{Comment.where(commentable_id: question.id).where(commentable_type: "Question").length} replies" %></span>
        <% end %>

        <span id="time"> <%= "Posted #{time_ago_in_words(question.created_at)} ago" %></span> by <span id="name"><%= question.user_name %></span>
        <span id="replies"><%= "#{Comment.where(commentable_id: question.id).where(commentable_type: "Question").length} replies" %></span>

        <br>
      </div>
      <% end %>
    </div>
  </div>

</div>

<!-- Mixpanel event tracking -->
<script>
  mixpanel.track("Index Questions");
</script>