<%= form_for(comment, :remote => true) do |f| %>
  <div class="form-group">
    <%= f.text_area :body, :input_html => { :rows => "2" }, class: "form-control" %>
  </div>

  <%= f.hidden_field :commentable_id, value: comment.commentable_id %>
  <%= f.hidden_field :commentable_type, value: comment.commentable_type %>
  <%= f.hidden_field :parent_id, value: parent_id %>

  <div class="form-group">
    <%= f.submit "Submit", :class => "btn btn-primary", data: { disable_with: "Submitting…" } %>
  </div>
<% end %>