<div class="has-padding max-width">

  <div class="row">
    <div class="center">
      <h1>Browse our video library</h1>
      <h2>Customize your app with our step-by-step video tutorials that walk you through implementing popular web and design features<h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Features</h3>
    </div>
  </div>

  <% @features.each do |video| %>
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail">
          <h4><%= video.title %></h4>
          <p><%= video.notes %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3>APIs</h4>
    </div>
  </div>

  <% @apis.each do |video| %>
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail">
          <h4><%= video.title %></h4>
          <p><%= video.notes %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3>Front-End Design</h3>
    </div>
  </div>
  
  <% @features.each do |video| %>
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail">
          <h4><%= video.title %></h4>
          <p><%= video.notes %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h3>Launching Your Website</h3>
    </div>
  </div>

  <% @features.each do |video| %>
    <div class="row">
      <div class="col-md-12">
        <div class="thumbnail">
          <h4><%= video.title %></h4>
          <p><%= video.notes %></p>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to 'New Video', new_video_path %>

</div>

