<div class="has-padding max-width">

  <div class="row">
    <div class="center">
      <h1>Browse our video library</h1>
      <h2>Customize your app with our step-by-step video tutorials that walk you through implementing popular web and design features<h2>
    </div>
  </div>

  <% @categories.each do |category| %>
    <div class="row">
      <h3><%= category %></h3>
    </div>

    <% Video.where(category: category).each do |video| %>
      <div class="row">
        <div class="col-md-12">
          <div class="thumbnail">
            <h4><%= video.title %></h4>
            <p><%= video.description %></p>

            <% if false %>
            <% if current_user.try(:admin?) %>
              <%= link_to "Show", video_path(video), class: "btn btn-link", 'data-no-turbolink' => true %>
              <%= link_to "Edit", edit_video_path(video), class: "btn btn-link" %>
              <%= link_to "Destroy", video_path(video), method: :delete, class: "btn btn-link" %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= link_to 'New Video', new_video_path %>

</div>