<div class="container">
  <h2>Generate an app!</h2>

  <%= form_tag "/thanks", method: :get do %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <%= label_tag :q1, "What will your website be called?" %>
          <%= text_field_tag :q1, nil, autofocus: true, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <%= label_tag :q2, "How many static pages do you need?" %>

        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <%= submit_tag "Create my website", class: "btn btn-success" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
