 <% @title="About BaseRails" %>

<section class="aboutus">
	<div class="max-width has-padding">
		<h2>About Us</h2>
		<div class="row">
			<div class="col-md-10">
				<div class="message">
					<p>BaseRails is a video learning platform that teaches Ruby on Rails and other technologies through building real world projects. Our collection of project-based courses walk you through coding robust applications like Etsy and Yelp while covering the most relevant programming topics, APIs, and tools used by developers. </p><br>
					<p>Whether you're learning to code to become a web developer, or just looking to prototype your MVP, we believe working on projects is the most effective way to learn. Instead of being taught theory, you’ll learn by building working applications. You understand the big picture concepts before filling in the details. You learn to build apps the way developers do — one feature at a time. <br><br>Most people feel demotivated when they take traditional programming classes, but with BaseRails, you’ll make rapid progress on your projects so you always stay engaged. Along the way, you learn in-demand tech skills through practice and solving problems with available resources, not through brute memorization.<br><br> With a growing community of students who love our practical approach, we aim to become the leader of online, project-based learning for every subject.</p><br>
				</div>
				<div class="learning-bites">
					<div class="row center">
						<div class="col-md-6">
							<div class="thumbnail">
								<div class="row">
									<div class="col-md-2">
							  		<%= image_tag "https://dl.dropboxusercontent.com/s/w9lykerl3oe1z01/screenshare.png" %>
							  	</div>
							  	<div class="col-md-10">
										<h3>Build and deploy products on your own computer</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="thumbnail">
								<div class="row">
									<div class="col-md-2">
							  		<%= image_tag "https://dl.dropboxusercontent.com/s/bxqib7rhcvazcaq/portfolioicon.png" %>
							  	</div>
							  	<div class="col-md-10">
										<h3>Develop and showcase a portfolio of live products</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row center">
						<div class="col-md-6">
							<div class="thumbnail">
								<div class="row">
									<div class="col-md-2">
							  		<%= image_tag "https://dl.dropboxusercontent.com/s/9l224ioq9t4o0y9/projectsicon.png" %>
							  	</div>
							  	<div class="col-md-10">
										<h3>Measure progress through projects completed</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="thumbnail">
								<div class="row">
									<div class="col-md-2">
							  		<%= image_tag "https://dl.dropboxusercontent.com/s/2hn5yssxhe9sbam/customizeicon.png" %>
							  	</div>
							  	<div class="col-md-10">
										<h3>Customize your products for your own needs and ideas</h3>
									</div>
								</div>
							</div>
						</div>
					</div>			
				</div>
			</div>
			<div class="col-md-2">
				<ul>
					<li><span class="number">100+</span> video screencasts</li>
					<li><span class="number">1000+</span> enrolled students</li>
					<li><span class="number">100%</span> troubleshooting success rate</li>
				</ul>
			</div>
		</div>


		<div class="row bio-main">
			<h2>Co-founders</h2>
			<div class="col-md-3 info">
				<%= image_tag "https://dl.dropboxusercontent.com/s/9u279iingo4jg5y/susie.jpg" %>
				<div class="name">
					<h4>Susie Ye</h4>
					<h5>Content Lead</h5>
					<%= mail_to "susie@baserails.com" do %>susie@baserails.com<% end %>
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/kpx2i5usp95n9n2/followme.png"), "http://www.twitter.com/yesusie" %>
				</div>
			</div>
			<div class="col-md-8 details">
				<p> Susie graduated with a doctorate in pharmacy but she was always operating businesses on the side.<br><br> She paid her way through pharmacy school by selling used books on Amazon, generating six-figures in profits per year. After getting her degree, she co-founded a social selling platform for STEM-inspired toys in New York and San Francisco.<br><br>From these experiences, she realized she needed to learn technical skills to further build and scale her startup ideas. However, the lack of practical web development education led to the inspiration for BaseRails as a resource where anyone can learn to build products that work for the real world. 
		        </p>
			</div>
		</div>
		<div class="row bio-main">
			<div class="col-md-3 info">
				<%= image_tag "https://dl.dropboxusercontent.com/s/j1aiq616595df0d/alex.jpg" %>
				<div class="name">
					<h4>Alex Yang</h4>
					<h5>Content Lead</h5>
					<%= mail_to "alex@baserails.com" do %>alex@baserails.com<% end %>
					<%#= link_to image_tag("https://dl.dropboxusercontent.com/s/kpx2i5usp95n9n2/followme.png"), "http://www.twitter.com/alexyang21" %>
				</div>
			</div>
			<div class="col-md-8 details">
				<p>Alex graduated from Harvard with a degree in Applied Math and spent two years at the Boston Consulting Group in New York.<br><br>
		          He was always interested in the tech space and eventually decided to quit his job to become an entrepreneur. He taught himself to code to prototype his business ideas, but the process of wading through coding exercises, one-off videos, and programming books was slow and ineffective.<br><br>He co-founded BaseRails to save others the time and hassle he went through when learning to build web apps. In his spare time, he also works with the Codecademy team to bring programming into the UK national school curriculum.
		        </p>
			</div>
		</div>
	</div>
</section>