<% @title="Scrape Craigslist apartment rental data" %>

<section class="courseheader">
	<div class="container">
		<div class="title">
			<div class="courseicon">
          <%= image_tag "https://dl.dropboxusercontent.com/s/rprlvr24ypue895/api_scraper_icon.png" %>
			</div>
			<div class="course-description">
				<h1>Build an apartment rental site like Craigslist</h1>
				<p>Learn to use an API to scrape Craigslist apartment rental data. <br>Build a beautiful web app to display live listings with filters.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<h2>Topics covered</h2>
					<div id="multicolumn">
						<ul>
							<li>Data scraping</li>
							<li>Ruby on Rails</li>
							<li>JSON</li>
							<li>APIs</li>
							<li>Databases</li>
							<li>Data cleaning</li>
							<li>Script Automation</li>
							<li>Web development</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<h2>Audience</h2>
					<ul>
						<li>Intermediate Level</li>
						<li>Recommended prerequisite: <br>
							  <%= link_to "Web scraper course", webscraper_path %>
							  <%= link_to "Yelpdemo", reviewapp_path %>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail last">
					<h2>Time</h2>
					<ul>
						<li>Video content: <br>4 hours</li>
						<li>Average completion time:<br>3 week</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="syllabus">
  <div class="max-width has-padding">

		<div class="row">
			<div class="course-container">
				<div class="well">
					<div class="well-topper">
					Course Syllabus
					</div>
					<p class="course-summary">In this course, you'll learn to gather data through an API and use that data to build a custom Ruby on Rails web app. You'll write a script in the Ruby programming language to collect and process the data you receive, then save the information to a database, and build a front-end interface for users to interact with it. By the end of the course, you'll have learned to automate the data collection process and have an app that's live on Heroku. 
					</p>
					<div class="chapter-header">
						<h3>Chapters</h3>
					</div>

			    <div class="syllabus-details">

			      <div class="panel-group" id="accordion1">
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
			              	<div class="row">
			              		<div class="col-md-11">
				                	<h2>Explore 3taps API</h2>
				                	<h3>Learn to work with the 3taps API by reading the documentation and making your first API requests through the web browser. Filter data by adding parameters through the URL.</h3>
				                </div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseOne" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Course Introduction (5:04)</h4>
			                	<p>Understand more about APIs and why they can be so powerful. See a demonstration of the final app you'll be building. </p>
			                </li>
			                <li>
			                	<h4>Using the Reference API (11:46)</h4>
			                	<p>Register to use the 3taps API and use its Reference API to explore the 3taps dataset. </p>
			                </li>
			                <li>
			                	<h4>Retrieving Posting Data (9:47)</h4>
			                	<p>Learn about the anchor system that 3taps uses to track data requests through its Polling API. Use the Polling API to retrieve our first set of real data.</p>
			                </li>
			                <li>
			                	<h4>Refining our API Request (6:46)</h4>
			                	<p>Add additional parameters to your data request to filter the data that you want to see.</p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
			              	<div class="row">
			              		<div class="col-md-11">
					                <h2>Import Data Into Our App</h2>
					                <h3>Learn to submit an API request through a custom script written in the Ruby programming language. Save the data returned to a database of your own and view it with the SQLite database browser. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseTwo" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Convert our Request to a Script (10:41)</h4>
			                	<p>Write a custom script in the Ruby programming language to submit a request to the 3taps API and view the results in the command line.</p>
			                </li>
			                <li>
			                	<h4>Create a Rake Task (6:18)</h4>
			                	<p>Create a new Ruby on Rails web app and learn about rake tasks. Build a custom rake task to make API requests. </p>
			                </li>
			                <li>
			                	<h4>Save Posts to Database (11:08)</h4>
			                	<p>Modify your custom rake task to save the retrieved data into a SQLite database in your app.</p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
			              	<div class="row">
			              		<div class="col-md-11">
					                <h2>Improve Display of Data</h2>
					                <h3>Process the raw data that gets returned in the API request and display it in a more user-friendly format with Bootstrap and Rails gems. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseThree" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Clean Up Data Formats (10:49)</h4>
			                	<p>Add the Bootstrap framework to style elements on the page. Learn about different data types and use Rails helpers to format the display of the information.   </p>
			                </li>
			                <li>
			                	<h4>Paginate the Index Page (5:20)</h4>
			                	<p>Use the 'will_paginate' and 'will_paginate-bootstrap' gems to divide content into multiple pages.</p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
			              	<div class="row">
			              		<div class="col-md-11">
					                <h2>Gather Detailed Data</h2>
					                <h3>Take a closer look at your original data request and extract additional details. Scrape image URLs and store them in a separate database. Learn to deal with situations where data may be incomplete or missing.</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseFour" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Scrape Apartment Details (12:00)</h4>
			                	<p>Revisit your original data request and extract additional details to save to your database. Account for possibly absent or incomplete data.  </p>
			                </li>
			                <li>
			                	<h4>Display Details (3:22)</h4>
			                	<p>Incorporate additional data fields into the display of your web app.   </p>
			                </li>
			                <li>
			                	<h4>Collect and Store Images (9:41)</h4>
			                	<p>Collect image URLs from your API request and store them in a separate, linked database. Display images that are hosted on an external URL. </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
			              	<div class="row">
			              		<div class="col-md-11">
					                <h2>Scrape Location Data</h2>
					                <h3>Collect reference data through a new API request to convert location codes into human-readable neighborhood names. Incorporate neighborhood field into your web app. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseFive" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Look Up Neighborhoods (6:41)</h4>
			                	<p>Use the 3taps Reference API to write a rake task to scrape location data into a new database. </p>
			                </li>
			                <li>
			                	<h4>Display Neighborhoods (4:35)</h4>
			                	<p>Revise your existing rake task to use a reference table to process data prior to saving it into a database. </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
											<div class="row">
			              		<div class="col-md-11">
					                <h2>Add Data Filters</h2>
					                <h3>Implement an advanced filter using URL parameters to allow users to narrow the content they browse. Incorporate checkboxes, dropdown menus, and placeholder text to improve the usability of the form. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseSix" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Build an Advanced Filter (10:16)</h4>
			                	<p>Create a search form with multiple fields and save the search parameters in the URL. Use those to filter the results displayed on the page.  </p>
			                </li>
			                <li>
			                	<h4>Improve Filter Display (6:38)</h4>
			                	<p>Convert text inputs in the search filter to more intuitive checkboxes and dropdown menus.  </p>
			                </li>
			                <li>
			                	<h4>Structure Filter Layout (12:17)</h4>
			                	<p>Use Bootstrap's grid system to organize the input fields of the search filter. Revise the input field labels and add placeholder text to improve the overall look. </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven">
											<div class="row">
			              		<div class="col-md-11">
					                <h2>Add Front-End Styling</h2>
					                <h3>Design page layouts, add images, and write custom CSS to polish the look of your site. Create a new homepage, format the show and index page, and organize data so it's easier for users to browse through rentals.</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseSeven" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Design Homepage (12:29)</h4>
			                	<p>Add a homepage containing a jumbotron with a high-resolution image. Add CSS styling to give your homepage a more professional look.  </p>
			                </li>
			                <li>
			                	<h4>Add Thumbnail Images (13:12)</h4>
			                	<p>Add a thumbnail image preview to the search results page. Use CSS techniques to resize images stored on external URLs and include a default image for post's without any uploaded images. </p>
			                </li>
			                <li>
			                	<h4>Structure Show Page (11:04)</h4>
			                	<p>Use the Bootstrap grid system to design the layout of the page with a post's details. Use 'if statements' to suppress the display of missing data fields. </p>
			                </li>
			                <li>
			                	<h4>Style Show Page: (7:31)</h4>
			                	<p>AUse CSS techniques to scale images proportionally to fit inside their columns. Apply background colors, borders, margins, and other properties. </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseEight">
											<div class="row">
			              		<div class="col-md-11">
					                <h2>Deploy and Automate</h2>
					                <h3>Launch your app live on the web using the Heroku platform. Learn to automate both the collection and removal of data so your app stays relevant and up-to-date with Craigslist data. Collect and display new apartment posts every ten minutes. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseEight" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Refresh Our Data (8:22)</h4>
			                	<p>Set up your rake task to retrieve all the latest postings when run. </p>
			                </li>
			                <li>
			                	<h4>Deploy on Heroku (6:05)</h4>
			                	<p>Modify your Gemfile and set up your app to save with Git, store code online with GitHub, and launch live on Heroku. </p>
			                </li>
			                <li>
			                	<h4>Automate Rake Tasks (5:51)</h4>
			                	<p>Write a new rake task to clean out stale data. Learn to automate both the collection and removal of data. </p>
			                </li>
			                <li>
			                	<h4>Conclusion: (1:38)</h4>
			                	<p>Review your progress, reflect on the concepts that have been covered, and consider some next steps. </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>

			      </div>
			    </div>

    		</div>
    	</div>
    </div>

  </div>
</section>

<section class="coursedemo">
	<div class="container has-padding">
		<h1 class="center">What you'll be building</h1>

<%= link_to "http://craigslist-scraper.herokuapp.com/", class: "screenshot", :target => "_blank" do %>

		<div class="demoscreenshot">
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/xb6pl1vwevg786f/Craigslist1.png" %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/rsvb8skvoennzvn/Craigslist2.png" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/39j84q7a2mcqkqv/Craigslist3.png" %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/qc6cgqctjowwg2r/Craigslist4.png" %>
					</div>
				</div>
			</div>
		</div>

<% end %>
		<div class="demo-description center">
			<h2>An apartment rental site for Brooklyn, NYC populated with the most recent listings scraped from Craigslist. Allow users to filter for relevant information like square footage, laundry, pets, and parking.  </h2>
			<%= link_to "Launch demo", "http://craigslist-scraper.herokuapp.com/", class: "btn btn-primary btn-lg center", :target => "_blank" %>
		</div>
	</div>
</section>

<section class="feature-library">
	<div class="container has-padding">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img alt="Webdesignicons" src="https://dl.dropboxusercontent.com/s/k1l271laj5sq830/webdesignicons.png">
        </div>
      </div>
      <div class="col-md-6">
      	<h1>Add more awesome features</h1>
    		<h2>After the completeing the foundational course, head on over to our video library and learn how to implement additional features like social media integration, internationalization, and more. Take your web app to the next level.</h2>
    		<%= link_to "View features library", videos_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>

	</div>
</section>

<section class="project-showcase">
  <div class="container has-padding">
    <h1 class="center">See what projects our students are working on</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("https://dl.dropboxusercontent.com/s/xgp8xx2nprb5mcx/fleamarket.png"), "http://fleamarket-kw.herokuapp.com/", :target => "_blank" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("https://dl.dropboxusercontent.com/s/e4dhb9tiy38kmr8/eventsorbet.png"), "http://www.eventsorbet.com/", :target => "_blank" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("https://dl.dropboxusercontent.com/s/m5w3nd799pc9uco/gmaps.png"), "http://gmaps-2014.herokuapp.com/", :target => "_blank" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("https://dl.dropboxusercontent.com/s/7hxmbbo0eyooyus/tenniscourt.png"), "http://www.tenniscourtsponsorships.com/", :target => "_blank" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("https://dl.dropboxusercontent.com/s/2hqi1gu08jj4lh0/tweetspeak.png"), "https://tweetspeakenglish.com/", :target => "_blank" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("https://dl.dropboxusercontent.com/s/nream0t77winiao/jeolry.png"), "http://jeolry.herokuapp.com/", :target => "_blank" %>
        </div>
      </div>
    </div>

    <div class="center">
      <h2><%= link_to "Browse more student projects", studentprojects_path %></h2>
    </div>

  </div>
</section>

<section class="action2">
  <div class="max-width has-padding">
  		<h1 class="center">What are you waiting for?</h1>
      <p id="quote1">“I also bought other tutorials on Rails earlier and found yours to be project-oriented and straight to the point. You don't waste so much time coding but instead show the way how things can be created as the final outcome, which I really admire, especially that your explanations are easy to understand. ” - Michael J.</p>
      <p id="quote2">"The scope/angle of this course seems perfectly tailored to what I'm looking for. From the looks of it so far, your course is similar in scope to Hartl's book, but takes a far more practical, hands-on approach - also it helps a great deal to see it in action vs. trying to follow along with just a book." - Chris S.</p>
      <p id="quote3">"Studying a new programming language can be daunting given the number of tools and concepts that need interact with each other. This course tackles that issue by providing a practical approach to learning ruby on rails: you get to build your own functional website" - Emmanuel T.</p>
    	<div class="center">
    		<%= link_to "Enroll today", pricing_path, class: "btn btn-success btn-lg" %>
    	</div>
  </div>
</section>



