<div class="max-width has-padding">
  <h1 class="center">What would you like to build?</h1><br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag("https://dl.dropboxusercontent.com/s/p3hiopm7obphjsy/airbnb.jpg") %>
        <h3 class="title center">Two-sided Marketplace</h3>
        <p class="center">A platform to connect two parties</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "https://dl.dropboxusercontent.com/s/7jtf8s9tssx4309/yelp.png" %>
        <h3 class="title center">Social Network</h3>
        <p class="center">Follow other users and share content</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "https://dl.dropboxusercontent.com/s/6gd4z9lqozt0jrv/blog.jpg" %>
        <h3 class="title center">Blog</h3>
        <p class="center">Personal blog or business portfolio</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "https://dl.dropboxusercontent.com/s/y6hx3nfeo0qkojc/landingpage.jpg" %>
        <h3 class="title center">Landing Page</h3>
        <p class="center">Test demand by collecting emails</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "https://dl.dropboxusercontent.com/s/a5ksfl0ggab1hli/subscription.jpg" %>
        <h3 class="title center">Subscription Service</h3>
        <p class="center">Manage recurring revenue</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag "https://dl.dropboxusercontent.com/s/pgmk80nvlsu6nop/ecommerce.jpg" %>
        <h3 class="title center">Ecommerce</h3>
        <p class="center">Sell products and manage inventory</p>
      </div>
    </div>
  </div>
</div>
