 <% @title="BaseRails: Learn Ruby on Rails with project-based tutorials" %>

<script src="//cdn.optimizely.com/js/702173075.js"></script>
<section class="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
            <%= image_tag "https://dl.dropboxusercontent.com/s/qmcg3t9fpvk8f18/3projectsblue.png", id: "projects" %>
      </div>
      <div class="col-md-8">
        <div class="section-header">  
          <h1 class>Project-based learning<br> <span id="is">is</span> more effective learning.</h1>
          <h2 class>Master Ruby on Rails and other web technologies <br>through real world projects.</h2><br>

          <div class="marketplaceproject">
            <%= link_to "Start free trial", new_user_registration_path, class: "btn btn-lg btn-default center",
                data: { no_turbolink: true } %>
            <%= link_to "View courses", root_path(anchor: "course"), class: "btn btn-lg btn-success center", data: { no_turbolink: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 

<section class="ideas">
  <div class="container">
    <header class="center">
      <h1>On-demand video learning</h1>
      <h2>BaseRails teaches Ruby on Rails, web scraping, and other technologies <br>through building real projects like Etsy, Yelp, and data scrapers.</h2>
<!--        <%= image_tag "https://dl.dropboxusercontent.com/s/4g5khl0egopew26/ideaicon.png" %>
      <%= image_tag "https://dl.dropboxusercontent.com/s/5l5hz85u9m0m4l9/arrowicon.png" %>
      <%= image_tag "https://dl.dropboxusercontent.com/s/zgjh3jg5dmhptx2/webappicon.png" %> -->
    </header>
  </div> 
</section>

<section class="info">
  <div id="course">
    <div class="container">
    <h1 class="center">Learn Ruby on Rails and other web technologies through project-based courses.</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail center">
            <%= image_tag "https://dl.dropboxusercontent.com/s/yqwyf808udsqx66/shoppingcart.png" %>
            <h3 class="track-header1 center">Build a two-sided<br> marketplace like Etsy</h3>
            <p class="track-description1 center">Master your Ruby skills and increase your Rails street cred by learning to build dynamic, sustainable applications for the web.</p>
            <div class="center">
              <%= link_to "View course", marketplace_path, class: "btn btn-default a center" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          
          <div class="ribbon-wrapper-orange">
            <div class="ribbon-orange">NEW
            </div>
          </div>

          <div class="thumbnail center">
            <%= image_tag "https://dl.dropboxusercontent.com/s/0vgj1y5s792zyt1/restauranticon.png", id: "icon" %>
            <h3 class="track-header2 center">Build a restaurant review <br>aggregator like Yelp</h3>
            <p class="track-description2 center">Master your Ruby skills and increase your Rails street cred by learning to build dynamic, sustainable applications for the web.</p>
            <div class="center">
              <%= link_to "View course", reviewapp_path, class: "btn btn-default b center" %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail center">
            <%= image_tag "https://dl.dropboxusercontent.com/s/j3gvikkyr1oeo6o/dataicon.png" %>
            <h3 class="track-header3 center">Build a web scraper <br>to collect data</h3>
            <p class="track-description3 center">Master your Ruby skills and increase your Rails street cred by learning to build dynamic, sustainable applications for the web.</p>
            <div class="center">
              <%= link_to "Coming soon", "#", class: "btn btn-default c center" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 

 <section class="steps">
  <div class="max-width has-padding">
    <h1 class="center">How it works</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail center">
          <%= image_tag "https://dl.dropboxusercontent.com/s/4cyt2wkxgfgu7m6/number1.png" %>
          <h2>Complete a project</h2>
          <p>Take a foundational course and learn core technical skills like Ruby on Rails and web scraping</p>
          <%= link_to "View courses", root_path(anchor: "course"), class: "btn btn-default center" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail center">
          <%= image_tag "https://dl.dropboxusercontent.com/s/e6xodbv229bh9k2/number2.png" %>
          <h2>Add additional features</h2>
          <p>View our features library and customize your project with more advanced functionalities.</p>
          <%= link_to "View features library", videos_path, class: "btn btn-default center" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail center apply">
          <%= image_tag "https://dl.dropboxusercontent.com/s/x5bqaj02g76hadi/number3.png" %>
          <h2>Build your own ideas</h2>
          <p>Use your new technical skills to build out your ideas, get hired, or work with developers.</p>
          <%= link_to "Ask a developer", questions_path, class: "btn btn-default center" %>
        </div>
      </div>
    </div>
  </div>
</section> 

<section class="membership">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <h1>Comprehensive learning platform</h1>
        <p>Build complex apps with the easiest and most intuitive learning platform. We provide all the resources you need so you can focus on learning and building.</p>
      </div>

      <div class="col-md-6">
        <div class="row>">
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/dswzny3l8bgg40z/projectbasedcourse.png" %>
              <h2 class>Full length <br>courses</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/zybzx3zv00cb8x9/mappin.png" %>
              <h2>Library of <br>feature add-ons</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/rkjw2r60s9v6hsy/transcripticon.png" %>
              <h2>Word-for-word <br>transcripts</h2>
            </div>
          </div>
        </div>

        <div class="row>">
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/2ogfgk9sp6x2vbp/sourcecode.png" %>
              <h2>Source <br>code notes</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/g3igvecmuzgy0wx/discussion.png" %>
              <h2>Discussion <br> thread per video</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail center">
                <%= image_tag "https://dl.dropboxusercontent.com/s/w9lykerl3oe1z01/screenshare.png" %>
                <h2>Screencast <br>sharing tool</h2>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="support">
  <div class="container">
    <h1 class="center">Stuck? Get all the help you need.</h1>
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail center">
          <%= image_tag "https://dl.dropboxusercontent.com/s/5rmovnzv3wx79q4/discussion2.png" %>
          <h2>Forum support</h2>
          <h3>Get help from your fellow peers in our video discussion threads.</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail center">
          <%= image_tag "https://dl.dropboxusercontent.com/s/ksnl51wk8609o2o/bwtwitter.png" %>
          <h2>Twitter support</h2>
          <h3>Tweet @baserails with an error screenshot and we'll respond in 24 hours.</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail center">
          <%= image_tag "https://dl.dropboxusercontent.com/s/4rahdlze2oib4pk/bwemail.png" %>
          <h2>Email support</h2>
          <h3>We offer 7 days per week email troubleshooting support.</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail center final">
          <%= image_tag "https://dl.dropboxusercontent.com/s/q0g78w5gbxskxu0/ask.png" %>
          <h2>Ask a developer Q&A</h2>
          <h3>Ask and recieve general technical advice and tips on our community forum.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="action">
  <div class="max-width has-padding center">
      <h2>We don't just teach you to code, we teach you to <i>build</i>.</h2>  
      <a class="btn btn-lg btn-default center" data-no-turbolink="true" href="/users/sign_up">Try a free 7-day trial</a>
  </div>
</section>



<!-- Mixpanel event tracking -->
<% if user_signed_in? %>
  <script>
    mixpanel.track("Homepage-Returning");

    mixpanel.identify("<%= current_user.id %>")
    mixpanel.people.set({
      "$name": "<%= current_user.name %>",
      "$email": "<%= current_user.email %>",
      "Paid": "<%= current_user.amount %>"
    })
  </script>
<% else %>
  <script>
    mixpanel.track("Homepage-New");
  </script>
<% end %>