<section class="projects">
  <div class="max-width has-padding">
    <div class="center">
      <header class="section-header center">
        <h1>&ldquo;Build an MVP for your startup in 4 weeks&rdquo;</h1>
        <h2>The #1 resource in getting you from idea to working prototype</h2>
      </header>
    </div>
    <div class="center">
      <div class="marketplaceproject">
        <%= link_to "Enroll today for $99", new_user_registration_path, class: "btn btn-lg btn-default center", data: { no_turbolink: true } %>
        <%= link_to "View course info", courses_marketplace_path, class: "btn btn-lg btn-success center", data: { no_turbolink: true } %>
      </div>
    </div>
  </div>
</section>

<section class="summary">
  <div class="title">
    <div class="container">
      <h1 class="center">How It Works</h1>
    </div>
  </div>
  <div class="max-width has-padding">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/gtdmac42c9qta2c/webstore.png" %>
          <h2 class="center">Enroll for $99</h2>
          <p class="center">Get lifetime access to our library of video screencasts with step-by-step instructions</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/b825bpqes9cuvcu/rails.png" %>
          <h2 class="center">Dive into a project</h2>
          <p class="center">Master Rails 4, Ruby 2, Bootstrap, databases, APIs, and other powerful tools</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/lzr2582u1yx1z4r/smile.png" %>
          <h2 class="center">Protoype your ideas</h2>
          <p class="center">Become your own technical co-founder and build your MVP within 4 weeks</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="difference">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header center">
          <h1>The BaseRails Difference</h1>
        </header>
        <h3>Here at BaseRails, we'll walk you step-by-step through building fully functional web apps from beginning to end. You'll learn practical, up-to-date skills that can be instantly useful for implementing your idea and testing your MVP with real users.</h3>
        <h3>We don't think you need to memorize complicated programming syntax, get a computer science degree, or shell out $20,000 for an in-person class just to build a website.
        </h3>
        <div class="center">
          <%= link_to "Enroll today for $99", new_user_registration_path,
            class: "btn btn-lg btn-success", data: { no_turbolink: true } %>
          <%= link_to "View course info", courses_marketplace_path, class: "btn btn-lg btn-default ", data: { no_turbolink: true } %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="features">
          <ul class="check">
            <li>Hundreds of video lectures with step-by-step instructions </li>
            <li>Full transcript of each lecture to follow along with as you watch the videos</li>
            <li>Source Code for immediate reference and readability</li>
            <li>24-hour response time from instructors to help with troubleshooting</li>
          <ul>
        </div>
      </div>
    </div>
  </div>
</section>
