<section class="projects">
  <div class="max-width has-padding">
    <div class="containertagline center">
      <div class="section-header center">
        <h1>Practical video tutorials to help you build your MVP </h1>
        <h2>Learn to build web apps with screencasts and expert support. <br>Work on real projects. Get results.</h2>
        <div class="marketplaceproject">
          <%= link_to "Enroll today for $149", new_user_registration_path, class: "btn btn-lg btn-default center",
              data: { no_turbolink: true } %>
          <%= link_to "How it works", info_path, class: "btn btn-lg btn-success center", data: { no_turbolink: true } %>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="summary">
  <div class="title">
    <div class="container">
      <h1 class="center">How we help you</h1>
    </div>
  </div>

  <div class="max-width has-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= link_to info_path(anchor: "step1"), 'data-no-turbolink' => true do %>
          <div class="thumbnail one">
        <h2 class="steps center">4-week course</h2>
        <%= image_tag "https://dl.dropboxusercontent.com/s/lc8o41zcv4fg38d/rubyicon.png" %>
            <h2 class="center">Build your base web app</h2>
            <p class="center">Learn to build a fully functional Rails app from scratch with our 4-week comprehensive online course.</p>
          </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= link_to info_path(anchor: "step2"), 'data-no-turbolink' => true do %>
          <div class="thumbnail two">
            <h2 class="steps center">Additional tutorials</h2>
            <%= image_tag "https://dl.dropboxusercontent.com/s/13pqwl6plnsef0o/features.png" %>
            <h2 class="center">Customize your features</h2>
            <p class="center">Tailor your web app with our library of step-by-step video tutorials for adding additional features.</p>
          </div>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <%= link_to info_path(anchor: "step3"), 'data-no-turbolink' => true do %>
          <div class="thumbnail three">
            <h2 class="steps center">Support</h2>
            <%= image_tag "https://dl.dropboxusercontent.com/s/dxulweg9dyt2vs2/communityicon.png" %>
            <h2 class="center">Ask a developer</h2>
            <p class="center">Get feedback on your web app and ask any questions you have from our experienced BaseRails developers.</p>
          </div>
        <% end %>
    </div>
  </div>

</section>

<section class="difference">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header center">
          <h1>The BaseRails Difference</h1>
        </header>
        <h3>Here at BaseRails, we'll walk you step-by-step through building fully functional web apps from beginning to end. You'll learn practical, up-to-date skills that can be instantly useful for implementing your idea and testing your MVP with real users.</h3>
        <h3>We don't think you need to memorize complicated programming syntax, get a computer science degree, or shell out $10,000 for an in-person class just to build a website.
        </h3>
        <div class="center">
          <%= link_to "Enroll today for $149", new_user_registration_path,
            class: "btn btn-lg btn-success", data: { no_turbolink: true } %>
          <%= link_to "View student projects", stories_path, class: "btn btn-lg btn-default", data: { no_turbolink: true } %>
        </div>
      </div>
      <div class="col-md-6">
        <!-- <div class="features">
          <ul class="check">
            <li>Practical video screencast lectures with step-by-step instructions </li>
            <li>Word-for-word transcript of each lecture to follow along with as you watch each video</li>
            <li>Source Code for immediate reference and readability</li>
            <li>24-hour response time from instructors to help with troubleshooting</li>
          <ul>
        </div> -->
          <div class="demovideo">
              <div id="wistia_oowbkfykya" class="wistia_embed" style="width:550px;height:333px;"> </div>
              <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
              <script>
              wistiaEmbed = Wistia.embed("oowbkfykya");
              </script>
          </div>
      </div>
    </div>
  </div>
</section>


<section class="trust">
  <div class="container">
    <h1 class="center">We're a globally trusted resource for entrepreneurs from all walks of life</h1>
    <table cellspacing="0" cellpadding="20" class="center">
      <tbody>
        <tr>
          <td><%= image_tag "https://dl.dropboxusercontent.com/s/pfvdfdyrkt47rut/ebaybw.png" %></td>
          <td><%= image_tag "https://dl.dropboxusercontent.com/s/4k8pw37ilfef7id/disney.png" %></td>
          <td><%= image_tag "https://dl.dropboxusercontent.com/s/n5w2u6k5z02nhgb/teespring.png" %></td>
          <td><%= image_tag "https://dl.dropboxusercontent.com/s/ma0e48jgnj8ovgb/micosoftlogo.png" %></td>
          <td><%= image_tag "https://dl.dropboxusercontent.com/s/bcqdk4o9e3lyajo/cambridge.png" %></td>
        </tr>
      </tbody>
    </table>
    <h2 class="center">&ldquo;I personally and wholeheartedly recommend this for anyone who wants to jump in with both feet and learn as you go by creating an actual application that you can use and or modify for your own use.&rdquo;</h2>
    <h3>- William P.</h3>

  </div>
</section>

<!-- Mixpanel event tracking -->
<% if user_signed_in? %>
  <script>
    mixpanel.track("Homepage-Returning");

    mixpanel.identify("<%= current_user.id %>")
    mixpanel.people.set({
      "$name": "<%= current_user.name %>",
      "$email": "<%= current_user.email %>",
      "Paid": "<%= current_user.amount %>"
    })
  </script>
<% else %>
  <script>
    mixpanel.track("Homepage-New");
  </script>
<% end %>