<!-- <section class="method">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm center">
          <h3>Never coded before? No problem.</h3>
          <p>We make learning to code as painless as possible by teaching you in plain English, not @!%[]</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well well-sm center">
          <h3>Learn in layers.<br><br></h3>
          <p>You’ll work on a real web project right away by learning the fundamentals first, followed by cool features down the road.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well well-sm center">
          <h3>Freedom to prototype any web app you want.</h3>
          <p>We guarantee you’ll be able to build any web prototype of your own by the end of our course.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="summary">
  <div class="max-width has-padding clearfix">
    <header class="section-header">
      <h1>Master new skills by diving into a web project.</h1>
    </header>
    <div class="course-takeaways">
      <div class="course-takeaway">
        <div class="a">
          <%= image_tag "https://s3.amazonaws.com/learnrails/images/webstore.png" %>
        </div>
        <p>Prototype and build your own web ideas from scratch</p>
      </div>
      <div class="course-takeaway">
        <div class="b">
          <%= image_tag "https://s3.amazonaws.com/learnrails/images/rails.png" %>
        </div>
        <p>Learn the fundamentals of Rails 4, Ruby 2, Bootstrap, databases, APIs, and other powerful tools</p>
      </div>
      <div class="course-takeaway">
        <div class="c">
          <%= image_tag "https://s3.amazonaws.com/learnrails/images/smile.png" %>
        </div>
        <p>Think and contribute like a technical team member</p>
      </div>
    </div>
  </div>
</section>

<section class="etsy">
  <div class="max-width has-padding">
    <header class="section-header center">
      <h1>Learn to build an online marketplace.</h1>
    </header>
    <div class="row">
      <div class="col-md-4">
          <%= image_tag "etsyhomepage.png" %>
          <h3 class="feature center">Upload products</h3>
          <p class="center">Upload images, descriptions, and prices for individual product listings.</p>
      </div>
      <div class="col-md-4">
          <%= image_tag "etsyaccount.png" %>
          <h3 class="feature center">Create user accounts</h3>
          <p class="center">Allow sellers and buyers to create accounts to keep track of their products.</p>
      </div>
      <div class="col-md-4">
          <%= image_tag "etsypayment.png" %>
          <h3 class="feature center">Accept credit card payments</h3>
          <p class="center">Use the Stripe API to accept credit card payments securely over the web.</p>
      </div>
    </div>
  </div>
</section>

<section class="syllabus">
  <div class="max-width has-padding">
    <header class="section-header center">
      <h1>Our Course Description</h1>
    </header>
    <div class="syllabus-details">

      <h3>Section 1: Get Up and Running</h3>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                Course Introduction
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                Installation for Mac users
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThirtyeight">
                Installation for Windows Users
              </a>
            </h4>
          </div>
          <div id="collapseThirtyeight" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Section 2: Create our Website</h3>
      <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Create a New App
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                Add Our First Pages
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                Add Links
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                Add Listings
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Section 3: Add Front-end Design</h3>
      <div class="panel-group" id="accordion3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven">
                Install Bootstrap
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseEight">
                Add a Navigation Bar
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseNine">
                Simplify Our Code
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTen">
                Build Beautiful Forms
              </a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Section 4: Save Our Progress</h3>
      <div class="panel-group" id="accordion4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion4" href="#collapseEleven">
                Set Up Git and GitHub
              </a>
            </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion4" href="#collapseTwelve">
                Save Our Code
              </a>
            </h4>
          </div>
          <div id="collapseTwelve" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Section 5: Update Listings With Images</h3>
      <div class="panel-group" id="accordion5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion5" href="#collapseThirteen">
                Install ImageMagick
              </a>
            </h4>
          </div>
          <div id="collapseThirteen" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion5" href="#collapseFourteen">
                Install Paperclip
              </a>
            </h4>
          </div>
          <div id="collapseFourteen" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion5" href="#collapseFifteen">
                Set Up Paperclip
              </a>
            </h4>
          </div>
          <div id="collapseFifteen" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion5" href="#collapseSixteen">
                Use Bootstrap Thumbnails
              </a>
            </h4>
          </div>
          <div id="collapseSixteen" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion5" href="#collapseSeventeen">
                Add Extra CSS
              </a>
            </h4>
          </div>
          <div id="collapseSeventeen" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion5" href="#collapseEighteen">
                Design a Page Layout
              </a>
            </h4>
          </div>
          <div id="collapseEighteen" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Section 6: Add Users</h3>
      <div class="panel-group" id="accordion6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion6" href="#collapseNineteen">
                Install Devise
              </a>
            </h4>
          </div>
          <div id="collapseNineteen" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion6" href="#collapseTwenty">
                Customize Devise's Pages
              </a>
            </h4>
          </div>
          <div id="collapseTwenty" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion6" href="#collapseTwentyone">
                Insert Conditional Links
              </a>
            </h4>
          </div>
          <div id="collapsetwentyone" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion6" href="#collapseTwentytwo">
                Add Names to Users
              </a>
            </h4>
          </div>
          <div id="collapseTwentytwo" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion6" href="#collapseTwentythree">
                Validate User Data
              </a>
            </h4>
          </div>
          <div id="collapseTwentythree" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Section 7: Connect Users to Listings</h3>
      <div class="panel-group" id="accordion7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion7" href="#collapseTwentyfour">
                Link Our Models Together
              </a>
            </h4>
          </div>
          <div id="collapseTwentyFour" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion7" href="#collapseTwentyFive">
                Create a Private Feed
              </a>
            </h4>
          </div>
          <div id="collapseTwentyFive" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion7" href="#collapseTwentysix">
                Set Up User Permissions
              </a>
            </h4>
          </div>
          <div id="collapseTwentysix" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Section 8: Place Orders</h3>
      <div class="panel-group" id="accordion8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion8" href="#collapseTwentyseven">
                Create an Order Model
              </a>
            </h4>
          </div>
          <div id="collapseTwentyseven" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion8" href="#collapseTwentyeight">
                Link Our Models Together
              </a>
            </h4>
          </div>
          <div id="collapseTwentyeight" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion8" href="#collapseTwentynine">
                Ensure Order Fields Set Correctly
              </a>
            </h4>
          </div>
          <div id="collapseTwentynine" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Section 9: Accept Payments</h3>
      <div class="panel-group" id="accordion9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion9" href="#collapseThirty">
                Install Stripe
              </a>
            </h4>
          </div>
          <div id="collapseThirty" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion9" href="#collapseThirtyone">
                Set Up Stripe
              </a>
            </h4>
          </div>
          <div id="collapseThirtyone" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion9" href="#collapseThirtytwo">
                Update Our Order Form
              </a>
            </h4>
          </div>
          <div id="collapseThirtytwo" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion9" href="#collapseThirtythree">
                Credit Card Verification
              </a>
            </h4>
          </div>
          <div id="collapseThirtythree" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion9" href="#collapseThirtyfour">
                Charge Credit Cards
              </a>
            </h4>
          </div>
          <div id="collapseThirtyfour" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Section 10: Deploy on Heroku</h3>
      <div class="panel-group" id="accordion10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion10" href="#collapseThirtyfive">
                Set Up Heroku
              </a>
            </h4>
          </div>
          <div id="collapseThirtyfive" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion10" href="#collapseThirtysix">
                Launch Our App
              </a>
            </h4>
          </div>
          <div id="collapseThirtysix" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
                <li>XXX</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion10" href="#collapseThirtyseven">
                Using a Custom Domain
              </a>
            </h4>
          </div>
          <div id="collapseThirtyseven" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>XXXX</li>
                <li>XXXX</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="aboutus">
  <div class="container">
    <div class="center">
      <h1>Brought to You By...</h1>
    </div>

    <div class ="col-md-5 long">
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <%= image_tag "alex.jpg" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail name">
            <h2>Alex Yang</h2>
            <h3>Instructor</h3>
          </div>
        </div>
      </div>
      <div class="row big">
        <p>Alex spent 4 years at Harvard studying math, then 2 years at the Boston Consulting Group studying PowerPoint.<br><br>
          He taught himself to code by wading through coding exercises, programming books, and online tutorials before realizing there was a better way.<br><br>Currently, he's working on further building out the BaseRails curriculum and developing content for Codecademy to teach little British kids to program.
        </p>
      </div>
    </div>

    <div class="col-md-5 long">
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <%= image_tag "susie.jpg" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail name">
            <h2>Susie Ye</h2>
            <h3>Producer</h3>
          </div>
        </div>
      </div>
      <div class="row big">
        <p>Susie comes from a medical background, but after completing a startup accelerator program, she realized she needed to work on her technical skills.<br><br>She became Alex's first student for this course and has since learned front-end web development as well.<br><br>She previously taught a course at DUMBO Incubator NYC to help students learn the customer development methodology.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Email us with questions or comments:</h3>
        <h3>alex@baserails.com</h3>
      </div>
      <div class="col-md-6 pull-right">
        <h3>Follow Us Here:</h3>
        <%= link_to "Facebook", "http://www.facebook.com/fliporder", class: "btn btn-link btn-lg"%>
        <%= link_to "Twitter", "http://www.twitter.com/fliporder", class: "btn btn-link btn-lg" %>
      </div>
    </div>
  </div>
</section>
