<!-- <section class="method">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-sm center">
          <h3>Never coded before? No problem.</h3>
          <p>We make learning to code as painless as possible by teaching you in plain English, not @!%[]</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well well-sm center">
          <h3>Learn in layers.<br><br></h3>
          <p>You’ll work on a real web project right away by learning the fundamentals first, followed by cool features down the road.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well well-sm center">
          <h3>Freedom to prototype any web app you want.</h3>
          <p>We guarantee you’ll be able to build any web prototype of your own by the end of our course.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="summary">
  <div class="max-width has-padding clearfix">
    <header class="section-header">
      <h1>Master new skills by diving into a web project.</h1>
    </header>
    <div class="course-takeaways">
      <div class="course-takeaway">
        <div class="a">
          <%= image_tag "https://s3.amazonaws.com/learnrails/images/webstore.png" %>
        </div>
        <p>Prototype and build your own web ideas from scratch</p>
      </div>
      <div class="course-takeaway">
        <div class="b">
          <%= image_tag "https://s3.amazonaws.com/learnrails/images/rails.png" %>
        </div>
        <p>Learn the fundamentals of Ruby on Rails, Twitter Bootstrap, and other powerful tools</p>
      </div>
      <div class="course-takeaway">
        <div class="c">
          <%= image_tag "https://s3.amazonaws.com/learnrails/images/smile.png" %>
        </div>
        <p>Think and contribute like a technical team member</p>
      </div>
    </div>
  </div>
</section>

<section class="etsy">
  <div class="max-width has-padding">
    <header class="section-header center">
      <h1>Learn to build an online marketplace.</h1>
    </header>
    <div class="row">
      <div class="col-md-4">
          <%= image_tag "etsyhomepage.png" %>
          <h3 class="feature center">Upload products</h3>
          <p class="center">Upload images, descriptions, and prices for individual product listings.</p>  
      </div>
      <div class="col-md-4">
          <%= image_tag "etsyaccount.png" %>
          <h3 class="feature center">Create user accounts</h3>
          <p class="center">Allow sellers and buyers to create accounts to keep track of their products.</p>  
      </div>
      <div class="col-md-4">
          <%= image_tag "etsypayment.png" %>
          <h3 class="feature center">Accept credit card payments</h3>
          <p class="center">Use the Stripe API to accept credit card payments securely over the web.</p>  
      </div>
    </div>
  </div>
</section>

<section class="syllabus">
  <div class="max-width has-padding">
    <header class="section-header center">
      <h1>Our Course Description</h1>
    </header>
    <div class="syllabus-details">
      <h3>Unit 1: The Basics</h3>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                HTML Basics
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul>
                <li>Apply HTML tags: &lt;head&gt;, &lt;link&gt;, &lt;script&gt;, &lt;style&gt;, &lt;meta&gt; to web pages</li>
                <li>Apply tags to HTML document to effectively section content</li>
                <li>Differentiate between the various image file types</li>
                <li>Predict image path and apply relative paths to img src tags</li>
                <li>Discuss how the Internet delivers web pages to the browser</li>
              </ul>
            </div>
          </div>
         </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                HTML Basics
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>Apply HTML tags: &lt;head&gt;, &lt;link&gt;, &lt;script&gt;, &lt;style&gt;, &lt;meta&gt; to web pages</li>
                <li>Apply tags to HTML document to effectively section content</li>
                <li>Differentiate between the various image file types</li>
                <li>Predict image path and apply relative paths to img src tags</li>
                <li>Discuss how the Internet delivers web pages to the browser</li>
              </ul>
            </div>
          </div>
         </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                HTML Basics
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>Apply HTML tags: &lt;head&gt;, &lt;link&gt;, &lt;script&gt;, &lt;style&gt;, &lt;meta&gt; to web pages</li>
                <li>Apply tags to HTML document to effectively section content</li>
                <li>Differentiate between the various image file types</li>
                <li>Predict image path and apply relative paths to img src tags</li>
                <li>Discuss how the Internet delivers web pages to the browser</li>
              </ul>
            </div>
          </div>
         </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                HTML Basics
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>Apply HTML tags: &lt;head&gt;, &lt;link&gt;, &lt;script&gt;, &lt;style&gt;, &lt;meta&gt; to web pages</li>
                <li>Apply tags to HTML document to effectively section content</li>
                <li>Differentiate between the various image file types</li>
                <li>Predict image path and apply relative paths to img src tags</li>
                <li>Discuss how the Internet delivers web pages to the browser</li>
              </ul>
            </div>
          </div>
         </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                HTML Basics
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>Apply HTML tags: &lt;head&gt;, &lt;link&gt;, &lt;script&gt;, &lt;style&gt;, &lt;meta&gt; to web pages</li>
                <li>Apply tags to HTML document to effectively section content</li>
                <li>Differentiate between the various image file types</li>
                <li>Predict image path and apply relative paths to img src tags</li>
                <li>Discuss how the Internet delivers web pages to the browser</li>
              </ul>
            </div>
          </div>
         </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                HTML Basics
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>Apply HTML tags: &lt;head&gt;, &lt;link&gt;, &lt;script&gt;, &lt;style&gt;, &lt;meta&gt; to web pages</li>
                <li>Apply tags to HTML document to effectively section content</li>
                <li>Differentiate between the various image file types</li>
                <li>Predict image path and apply relative paths to img src tags</li>
                <li>Discuss how the Internet delivers web pages to the browser</li>
              </ul>
            </div>
          </div>
         </div> 
      <h3>Unit 2: Building In Concert</h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
              Lab Sessions
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Apply switch blocks as a replacement for if/else if/else</li>
              <li>Describe the concept of "this" as it applies within jQuery anonymous functions</li>
              <li>Define refactoring and describe why it is important</li>
            </ul>
          </div>
        </div>
       </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
              Lab Sessions
            </a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Apply switch blocks as a replacement for if/else if/else</li>
              <li>Describe the concept of "this" as it applies within jQuery anonymous functions</li>
              <li>Define refactoring and describe why it is important</li>
            </ul>
          </div>
        </div>
       </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
              Lab Sessions
            </a>
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Apply switch blocks as a replacement for if/else if/else</li>
              <li>Describe the concept of "this" as it applies within jQuery anonymous functions</li>
              <li>Define refactoring and describe why it is important</li>
            </ul>
          </div>
        </div>
       </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
              Lab Sessions
            </a>
          </h4>
        </div>
        <div id="collapseTen" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Apply switch blocks as a replacement for if/else if/else</li>
              <li>Describe the concept of "this" as it applies within jQuery anonymous functions</li>
              <li>Define refactoring and describe why it is important</li>
            </ul>
          </div>
        </div>
       </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
              Lab Sessions
            </a>
          </h4>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li>Apply switch blocks as a replacement for if/else if/else</li>
              <li>Describe the concept of "this" as it applies within jQuery anonymous functions</li>
              <li>Define refactoring and describe why it is important</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="aboutus">
  <div class="container">
    <div class="center">
      <h1>Brought to You By...</h1>
    </div>

    <div class ="col-md-5 long">
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <%= image_tag "alex.jpg" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail name">
            <h2>Alex Yang</h2>
            <h3>Instructor</h3>
          </div>
        </div>
      </div>
      <div class="row big">
        <p>Alex spent 4 years at Harvard studying math, then 2 years at Boston Consulting Group studying PowerPoint.<br><br>
          He spent six months learning to code by plodding through exercise, reading books, and completing tutorials before realizing there was a better way. He boiled his learnings into the most fundamental concepts and created course. <br><br>Currently, he works on his startup FlipOrder and develops curriculum for Codecademy to teach little kids how to program. 
        </p>
      </div>
    </div>

    <div class="col-md-5 long">
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <%= image_tag "susie.jpg" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="thumbnail name">
            <h2>Susie Ye</h2>
            <h3>Producer</h3>
          </div>
        </div>
      </div>
      <div class="row big">
        <p>Susie comes from a medical background with a degree in Pharmacy. After completing an accelerator program for startups, she realized she had to build her technical skills to implement her own deas.<br><br>She became Alex's first student for this course and has since learned front-end web development.<br><br>She has taught an 8-week course at DUMBO Incubator NYC to help students learn the customer development methodology.<br><br>
        </p>
      </div>
    </div>

  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Email us with questions or comments:</h3>
        <p>alexyang.personal@gmail.com</p>
      </div>
      <div class="col-md-6 pull-right">
        <h3>Follow Us Here:</h3>
        <%= link_to "Facebook", "http://www.facebook.com/fliporder", class: "btn btn-link btn-lg"%>
        <%= link_to "Twitter", "http://www.twitter.com/fliporder", class: "btn btn-link btn-lg" %>
      </div>
    </div>
  </div>
</section>
