<section class="info">
	<div class="container">
		<header class="center">
			<h1>Your ideas deserve to be built</h1>
			<h2>BaseRails is a video-learning platform that helps you develop the skills to build web apps. Our comprehensive process allows you to learn in layers. No fluff, just results.</h2>
			<%= image_tag "https://dl.dropboxusercontent.com/s/4g5khl0egopew26/ideaicon.png" %>
			<%= image_tag "https://dl.dropboxusercontent.com/s/5l5hz85u9m0m4l9/arrowicon.png" %>
			<%= image_tag "https://dl.dropboxusercontent.com/s/zgjh3jg5dmhptx2/webappicon.png" %>
		</header>
	</div>

	<div id="step1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>1) Start by building a base Etsy app</h1>
					<h2>We believe in learning by working on projects. Our comprehensive 43-video online course takes you step-by step through building an online marketplace like Etsy. Learn technologies such as Ruby on Rails, HTML, Bootstrap, APIs, Github, and Heroku.</h2>
					<h2><%= link_to marketplace_path do %>
						<i class="glyphicon glyphicon-arrow-right"></i> Explore our syllabus
					<% end %><h2>
				</div>
				<div class="col-md-6">
					<div class="demovideo">
				        <div id="wistia_um6vq12bst" class="wistia_embed" style="width: 325px; height: 194px;">
				        </div>
				        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
				        <script>
				        wistiaEmbed = Wistia.embed("um6vq12bst", {
				          videoFoam: true,
				          videoQuality: "hd-only",
				          playerPreference: "html5"
				        });
				        </script>
				    </div>
				</div>
			</div>
		</div>
	</div>

	<div id="step2">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
<!-- 					<%= image_tag "https://dl.dropboxusercontent.com/s/bd87rehdwirzqsi/railscourse.png" %>
 -->				<%= image_tag "https://dl.dropboxusercontent.com/s/k1l271laj5sq830/webdesignicons.png" %>
				</div>
				<div class="col-md-6">
					<h1>2) Add more awesome features</h1>
					<h2>Head on over to our video library and learn how to implement popular features including social media integration, search, reviews, online payments, and many more. Customize your app to your specific idea.</h2>
					<h2><%= link_to videos_path do %>
						<i class="glyphicon glyphicon-arrow-right"></i> View library
					<% end %></h2>
				</div>
			</div>
		</div>
	</div>

	<div id="step3">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>3) Get troubleshooting help</h1>
					<h2>We have the best customer support on the web. Post your errors under the comments section of each video. If that's not suffcient, shoot us an email. Have a question about programming, startups, or just technology in general? Post your questions on our "Ask a Developer" Q&amp;A.</h2>
					<div class="button center"><%= link_to "Get started", new_user_registration_path, class: "btn btn-primary center" %></div>
				</div>
				<div class="col-md-6">
					<%= image_tag "https://dl.dropboxusercontent.com/s/bd87rehdwirzqsi/railscourse.png" %>
				</div>
			</div>
		</div>
	</div>

</section>
