<section class="info">
	<div class="container">
		<header class="center">
			<h1>Bring your ideas to life</h1>
			<h2>BaseRails is video-learning platform that helps you develop the skills to build web apps. Our comprehensive three-step process allows you to learn in layers. No fluff, just results.</h2>
			<%= image_tag "https://dl.dropboxusercontent.com/s/4g5khl0egopew26/ideaicon.png" %>
			<%= image_tag "https://dl.dropboxusercontent.com/s/5l5hz85u9m0m4l9/arrowicon.png" %>
			<%= image_tag "https://dl.dropboxusercontent.com/s/zgjh3jg5dmhptx2/webappicon.png" %>
		</header>
	</div>

	<div class="step1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Step 1: Build your base web app</h1>
					<h2>We believe in learning by working on projects. Our immersive 43-lecture online course takes you step-by step through building an online marketplace like Etsy. Learn technologies such as Ruby on Rails, HTML, Bootstrap, APIs, Github, and Heroku.</h2>
					<h2><%= link_to marketplace_path do %>
						<i class="glyphicon glyphicon-arrow-right"></i> Explore our syllabus 
					<% end %><h2>
				</div>
				<div class="col-md-6">
					<div class="demovideo">
				        <div id="wistia_um6vq12bst" class="wistia_embed" style="width: 325px; height: 194px;"> 
				        </div>
				        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
				        <script>
				        wistiaEmbed = Wistia.embed("um6vq12bst", {
				          videoFoam: true,
				          videoQuality: "hd-only",
				          playerPreference: "html5"
				        });
				        </script>
				    </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="step2">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "https://dl.dropboxusercontent.com/s/bd87rehdwirzqsi/railscourse.png" %>
				</div>
				<div class="col-md-6">
					<h1>Step 2: Customize your features</h1>
					<h2>Head on over to our video library and learn how to implement popular features including social media integration, search, reviews, online payments, and many more. Customize your app to your specific idea.</h2>
					<h2><%= link_to library_path do %>
						<i class="glyphicon glyphicon-arrow-right"></i> View library 
					<% end %></h2>
				</div>
			</div>
		</div>
	</div>

	<div class="step3">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Step 3: Get help from developers</h1>
					<h2>Have a question about programming, startups, or just technology in general? Post your questions on our "Ask a Developer" Q&amp;A and our team of experienced programmers will answer directly. We know what it's like not having anyone to ask for help. That's why we're here. </h2>
					<div class="button center"><%= link_to "Get started", new_user_registration_path, class: "btn btn-primary center" %></div>
				</div>
				<div class="col-md-6">
					<%= image_tag "https://dl.dropboxusercontent.com/s/bd87rehdwirzqsi/railscourse.png" %>
				</div>
			</div>
		</div>
	</div>

</section>
