<section class="library">
	<div class="max-width has-padding">
		<h2>Foundational Courses</h2>
		<div class="row">
			<div class="course-container">
				<div class="well">
					<div class="well-topper">
						Build an online marketplace
					</div>
					<p class="course-summary">As an ethical hacker, you need to be able to leverage the same techniques and skills as the bad guys to help your clients understand how to stay secure. In this course, you'll learn what it takes to become an ethical hacker and the methods real attackers use to penetrate networks and computer systems.
					</p>
					<div class="chapter-header">
						<h3>Chapters</h3>
					</div>
					<ul class="chapter-list">
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Get up and Running</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<h2>Add-on Features</h2>
		<div class="row">
			<div class="course-container">
				<div class="well">
					<div class="well-topper">
						Back-End Features
					</div>
					<p class="course-summary">As an ethical hacker, you need to be able to leverage the same techniques and skills as the bad guys to help your clients understand how to stay secure. In this course, you'll learn what it takes to become an ethical hacker and the methods real attackers use to penetrate networks and computer systems.
					</p>
					<div class="chapter-header">
						<h3>Topics</h3>
					</div>
					<ul class="chapter-list">
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Add a Facebook "Like" Button</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Divide Your Content with Pagination</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Internationalization</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>			
		<div class="row">
			<div class="course-container">
				<div class="well">
					<div class="well-topper">
						Front-End Design
					</div>
					<p class="course-summary">As an ethical hacker, you need to be able to leverage the same techniques and skills as the bad guys to help your clients understand how to stay secure. In this course, you'll learn what it takes to become an ethical hacker and the methods real attackers use to penetrate networks and computer systems.
					</p>
					<div class="chapter-header">
						<h3>Topics</h3>
					</div>
					<ul class="chapter-list">
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Add Glyphicons to Your Buttons</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="course-container">
				<div class="well">
					<div class="well-topper">
						Deployment
					</div>
					<p class="course-summary">As an ethical hacker, you need to be able to leverage the same techniques and skills as the bad guys to help your clients understand how to stay secure. In this course, you'll learn what it takes to become an ethical hacker and the methods real attackers use to penetrate networks and computer systems.
					</p>
					<div class="chapter-header">
						<h3>Topics</h3>
					</div>
					<ul class="chapter-list">
						<li class="chapter-item">
							<div class="row">
								<div class="col-md-9">
									<h4>Monitor Your Site and Load Pages Faster</h4>
									<p class="chapter-summary">In this lesson you'll learn how to perform reconnaissance from both the business side as well as a technical side.
									</p>
								</div>
								<div class="col-md-3">
      								<%= link_to "View modules", new_user_registration_path, class: "btn btn-lg btn-default center",
          							data: { no_turbolink: true } %>
          						</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
</section>