<section class="courseheader">
	<div class="container">
		<div class="title">
			<div class="courseicon">
				<%= image_tag "https://dl.dropboxusercontent.com/s/yqwyf808udsqx66/shoppingcart.png" %>
			</div>
			<div class="course-description">
				<h1>Build a two-sided marketplace</h1>
				<p>Learn Ruby on Rails by building an online marketplace like Etsy or Airbnb from scratch. <br>Connect two parties through your online platform.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<h2>Topics covered</h2>
					<div id="multicolumn">
						<ul>
							<li>Ruby on Rails</li>
							<li>HTML and CSS</li>
							<li>Bootstrap</li>
							<li>Coffeescript</li>
							<li>SQlite</li>
							<li>Stripe API</li>
							<li>Git and Github</li>
							<li>Heroku</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<h2>Audience</h2>
					<ul>
						<li>Ruby on Rails beginners</li>
						<li>Entrepreneurs</li>
						<li>Aspiring junior web developers</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail last">
					<h2>Time</h2>
					<ul>
						<li>Video content: <br>8 hours</li>
						<li>Average completion time:<br>4 weeks</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="syllabus">
  <div class="max-width has-padding">

		<div class="row">
			<div class="course-container">
				<div class="well">
					<div class="well-topper">
					Course Syllabus
					</div>
					<p class="course-summary">As an ethical hacker, you need to be able to leverage the same techniques and skills as the bad guys to help your clients understand how to stay secure. In this course, you'll learn what it takes to become an ethical hacker and the methods real attackers use to penetrate networks and computer systems.
					</p>
					<div class="chapter-header">
						<h3>Chapters</h3>
					</div>

			    <div class="syllabus-details">

			      <div class="panel-group" id="accordion1">
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
			              	<div class="row">
			              		<div class="col-md-11">
				                	<h2>Get up and running</h2>
				                	<h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
				                </div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseOne" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Course Introduction</h4>
			                	<p>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda</p>
			                </li>
			                <li>
			                	<h4>Installation for Mac Users</h4>
			                	<p>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda</p>
			                </li>
			                <li>
			                	<h4>Installation for Non-Mac Users</h4>
			                	<p>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda</p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
			              	<div class="row">
			              		<div class="col-md-11">
					                <h2>Create our website</h2>
					                <h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>					                
			              </a>
			            </div>
			          </div>
			          <div id="collapseTwo" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Create a New App</li>
			                <li>Add Our First Pages</li>
			                <li>Add Links</li>
			                <li>Add Listings</li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
			              	<div class="row">
			              		<div class="col-md-11">
					                <h2>Add front-end design</h2>
					                <h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>							                
			              </a>
			            </div>
			          </div>
			          <div id="collapseThree" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Install Bootstrap</li>
			                <li>Add a Navigation Bar</li>
			                <li>Simplify Our Code</li>
			                <li>Build Beautiful Forms</li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
			              	<div class="row">
			              		<div class="col-md-11">			              
					                <h2>Update listings with images</h2>
					                <h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>				              
			              </a>
			            </div>
			          </div>
			          <div id="collapseFour" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Install Paperclip and ImageMagick</li>
			                <li>Set Up Paperclip</li>
			                <li>Design Pages Layouts</li>
			                <li>Add Custom CSS</li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
			              	<div class="row">
			              		<div class="col-md-11">				              
					                <h2>Save our progress</h2>
					                <h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>						              
			              </a>
			            </div>
			          </div>
			          <div id="collapseFive" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Set Up GitHub</li>
			                <li>Commit Our Code to GitHub</li>
			                <li>Deploy on Heroku</li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
											<div class="row">
			              		<div class="col-md-11">				              			              
					                <h2>Host images online</h2>
					                <h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>			              
			              </a>
			            </div>
			          </div>
			          <div id="collapseSix" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Set Up Dropbox</li>
			                <li>Protect Our Account Data</li>
			                <li>Configure Dropbox Settings</li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven">
											<div class="row">
			              		<div class="col-md-11">				              
					                <h2>Add Users</h2>
					                <h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>					              
			              </a>
			            </div>
			          </div>
			          <div id="collapseSeven" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Install Devise</li>
			                <li>Insert Conditional Links</li>
			                <li>Customize Devise Forms and Alerts</li>
			                <li>Add Names to Users</li>
			                <li>Validate User and Listing Data</li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseEight">
											<div class="row">
			              		<div class="col-md-11">					              
					                <h2>Connect users to listings</h2>
					                <h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>			              
			              </a>
			            </div>
			          </div>
			          <div id="collapseEight" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Associate Listings With Users</li>
			                <li>Set User Permissions</li>
			                <li>Create a Seller Page</li>
			                <li>Redesign the Seller Page</li>
			                <li>Create a Homepage Banner</li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseNine">
											<div class="row">
			              		<div class="col-md-11">					              
			                		<h2>Place orders</h2>
			                		<h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>				              
			              </a>
			            </div>
			          </div>
			          <div id="collapseNine" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Link Orders, Listings, Users</li>
			                <li>Create Order History Pages</li>
			                <li>Reorganize Order Links and URLs</li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTen">
											<div class="row">
			              		<div class="col-md-11">				              
			               		 <h2>Accept Payments</h2>
			               		 <h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>				              
			              </a>
			            </div>
			          </div>
			          <div id="collapseTen" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Set Up Stripe</li>
			                <li>Add Credit Card Fields</li>
			                <li>Verify Credit Card Data</li>
			                <li>Charge Credit Cards</li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseEleven">
											<div class="row">
			              		<div class="col-md-11">				              
			                <h2>Transfer payments</h2>
			                <h3>adkalsd kasdjas daldj aksldj asldj asldj asldj aklsdj alksdj askdj kjkljkjklj kajsdk kaldj akldj aksdj kasjdkla daklsdj ksadj akdj akljsda dlj sdkajd la sdakjd alksdakldjsald lasjdlakdj askdj adkajsda d</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>				              
			              </a>
			            </div>
			          </div>
			          <div id="collapseEleven" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>Collect Bank Account Info</li>
			                <li>Verify Bank Account Info</li>
			                <li>Transfer Funds</li>
			                <li>Course Summary</li>
			              </ul>
			            </div>
			          </div>
			        </div>

			      </div>
			    </div>

    		</div>
    	</div>
    </div>	      

  </div>
</section>

<section class="coursedemo">
	<div class="container has-padding">
		<h1 class="center">What you'll be building</h1>

<%= link_to "http://etsydemo-2014.herokuapp.com/", class: "screenshot", :target => "_blank" do %>
		
		<div class="demoscreenshot">
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/8q1rr62k3ydyxh0/etsydemo1.png" %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/4x9d8cm26p7tntv/etsydemo2.png" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/6g7qaum87ihkzzm/etsydemo3.png" %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/11tybpejx8gwnrk/etsydemo4.png" %>
					</div>
				</div>
			</div>
		</div>

<% end %>
		<div class="demo-description center">
			<h2>An online marketplace with product listings, user accounts, online payments, and inventory management dashboard.
			Take a small percentage cut from each sale before transferring the funds to your sellers.</h2>
			<%= link_to "Launch demo", "http://etsydemo-2014.herokuapp.com/", class: "btn btn-primary btn-lg center", :target => "_blank" %>
		</div>
	</div>
</section>

<section class="feature-library">
	<div class="container has-padding">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img alt="Webdesignicons" src="https://dl.dropboxusercontent.com/s/k1l271laj5sq830/webdesignicons.png">
        </div>
      </div>
      <div class="col-md-6">
      	<h1>Add more awesome features</h1>
    		<h2>After the completeing the foundational course, head on over to our video library and learn how to implement additional features like social media integration, internationalization, and more. Take your web app to the next level.</h2>
    		<%= link_to "View features library", videos_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>

	</div>
</section>

<section class="project-showcase">
	<div class="container has-padding">
		<h1 class="center">See what projects our students are working on</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/xgp8xx2nprb5mcx/fleamarket.png"), "http://fleamarket-kw.herokuapp.com/", :target => "_blank" %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/e4dhb9tiy38kmr8/eventsorbet.png"), "http://www.eventsorbet.com/", :target => "_blank" %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">			
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/ghhwbucb3qzwl10/analytics.png"), "http://analytics123.herokuapp.com/", :target => "_blank" %>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">			
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/7hxmbbo0eyooyus/tenniscourt.png"), "http://www.tenniscourtsponsorships.com/", :target => "_blank" %>
				</div>
			</div>	
			<div class="col-md-4">
				<div class="thumbnail">			
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/e0xr2fx12tjpozm/farmworks.png"), "http://farmworks.herokuapp.com/", :target => "_blank" %>
				</div>				
			</div>				
			<div class="col-md-4">
				<div class="thumbnail">			
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/s641ucp2ox5la54/getpoplar.png"), "http://etsydemo-6565.herokuapp.com/", :target => "_blank" %>
				</div>				
			</div>	
		</div>
	</div>
</section>

<section class="action2">
  <div class="max-width has-padding">
  		<h1 class="center">What are you waiting for?</h1>
      <p id="quote1">“I personally and wholeheartedly recommend this for anyone who wants to jump in with both feet and learn as you go by creating an actual application that you can use and or modify for your own use.” - William P.</p>  
      <p id="quote2">"I created my own demo website and deployed to Heroku in 2 days. Alex explained eveything you need when you start Ruby on Rails: installing gems, facing problems on Ruby, creating lists, bootstrap designs, uploading images, Git version control, deploying on Heroku. I'm waiting for more lectures/courses from Alex." - Volkan G.</p>
      <p id="quote3">"I just finished your course, and I loved every minute of it. It's amazing how much I've learned in just a couple of days, and I'm excited to continue learning more and applying the skills I gained from watching your videos." - Matthew F.</p>
    	<div class="center">
    		<%= link_to "Get started for free", new_user_registration_path, class: "btn btn-success btn-lg" %>
    	</div>
  </div>
</section>



