<section class="pricing-tier">
  <div class="container has-padding">
    <div class="center">
      <h2>Enroll for unlimited access to our videos</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <h3 class="center">$25 monthly</h3>
          <ul class="check">
            <li>Full-length and add-on video screencasts</li>
            <li>Word-for-word transcripts</li>
            <li>Source code for each video</li>
            <li>Active community of entrepreneurs launching new ideas</li>
            <li>Troubleshooting support within 24 hours</li>
          </ul>
          <div class="center">
            <%= link_to "Enroll today", new_user_registration_path(plan: "monthly"), class: "btn btn-lg btn-success a" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thumbnail">
          <h3 class="center">$200 yearly</h3>
          <ul class="check">
            <li>Save $100 with yearly billing</li>
            <li>Access to everything in the monthly plan</li>
            <li>Unlimited Developer Q&A questions</li>
          </ul>
          <div class="center">
            <%= link_to "Enroll today", new_user_registration_path(plan: "yearly"), class: "btn btn-lg btn-success center b" %>
          </div>
        </div>
      </div>
    </div>

    <div class="center">
      <h4><%= link_to "Or sign up for a free preview account", new_user_registration_path %></h4>
    </div>
  </div>
</section>

<section class="membership">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <h1>What you get with your membership</h1>
        <p>Build complex apps with the easiest and most intuitive learning platform. We provide all the resources you need so you can focus on learning and building.</p>
      </div>

      <div class="col-md-6">
        <div class="row>">
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/dswzny3l8bgg40z/projectbasedcourse.png" %>
              <h2 class>Full length <br>courses</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/zybzx3zv00cb8x9/mappin.png" %>
              <h2>Library of <br>feature add-ons</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/rkjw2r60s9v6hsy/transcripticon.png" %>
              <h2>Word-for-word <br>transcripts</h2>
            </div>
          </div>
        </div>

        <div class="row>">
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/2ogfgk9sp6x2vbp/sourcecode.png" %>
              <h2>Source <br>code notes</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail center">
              <%= image_tag "https://dl.dropboxusercontent.com/s/g3igvecmuzgy0wx/discussion.png" %>
              <h2>Discussion <br> thread per video</h2>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail center">
                <%= image_tag "https://dl.dropboxusercontent.com/s/w9lykerl3oe1z01/screenshare.png" %>
                <h2>Screencast <br>sharing tool</h2>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="membershipfaq">
  <div class="container">
    <h2 class="center">Get your questions answered</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>How does the free preview account work?</h3>
        <h4>The free preview account gives you access to the first couple of sections for each course. You'll be able to view the free video tutorials as well as the transcripts and comments for those sections. If you decide to enroll for access to all the content, click on "Manage Subscription" under your account and choose your plan. You can unsubscribe at any time and your subscription will cancel at the end of your current billing cycle. </h4>

        <h3>Do I need to have prior programming experience?</h3>
        <h4>Not at all! We have students who have never written a line of code learn to build robust apps with BaseRails. On the other hand, we also have students who come from computer science backgrounds and but don't know how to build websites. If you want to learn how to create functional web applications by working on projects, then we're the right fit for you. </h4>
        <h3>Can I change careers to become a web developer with BaseRails?</h3>
        <h4>That's really up to you! We think learning by doing projects is the best way to dive into web development. Not only will you learn how to code, you'll also have an understanding of how a web application framework is built. You'll learn to think like a web developer and learn the latest technologies that Rails developers use. The rest is up to you!  </h4>
      </div>
      <div class="col-md-6">
        <h3>What makes BaseRails different from other online resources?</h3>
        <h4>More than just teaching you to <i>code</i>, we teach you to <i>build</i>. We are the only learning platform that focuses exclusively on building fully functional web apps by doing projects. Other methods have a heavy focus on understanding syntax and grasping computer science theory. However, few people actually progress from this to building functional apps on their own. The end result is that millions of students start learning how to code, but few end up with something to show for their efforts. We make sure that students finish our course with a product they can either turn into a business or add to their portfolio.</h4>
        <h3>What projects will I be building?</h3>
        <h4>We teach you to build web applications in Ruby on Rails by building an online marketplace like Etsy, a review site like Yelp, and others. You'll be able to implement practical features like user accounts, online payments, and product listings. You can customize your app or apply your learnings to building other Rails apps.</h4>
        <h3>What programming languages do you guys teach?</h3>
        <h4>We mostly teach Ruby on Rails, which is based off of the Ruby programming language. However, we cover other popular web development technologies like Bootstrap, APIs, JavaScript, SQLite, Github, and Heroku, among others.</h4>
      </div>
    </div>
  </div>
</section>

<!-- Mixpanel event tracking -->
<script>
  mixpanel.track("Pricing Page");
</script>
