<section class="courseheader">
	<div class="container">
		<div class="title">
			<div class="courseicon">
				<%= image_tag "https://dl.dropboxusercontent.com/s/0vgj1y5s792zyt1/restauranticon.png" %>
			</div>
			<div class="course-description">
				<h1>Build a reviews and ratings aggregator</h1>
				<p>Learn Ruby on Rails by building an site for people to browse and add reviews for restaurants. <br>Allow people to search and rate local eateries.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<h2>Topics covered</h2>
					<div id="multicolumn">
						<ul>
							<li>Ruby on Rails</li>
							<li>HTML and CSS</li>
							<li>jQuery</li>
							<li>Bootstrap</li>
							<li>SQlite</li>
							<li>Google Maps API</li>
							<li>Git and Github</li>
							<li>Heroku</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<h2>Audience</h2>
					<ul>
						<li>Ruby on Rails beginners</li>
						<li>Entrepreneurs</li>
						<li>Aspiring junior web developers</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail last">
					<h2>Time</h2>
					<ul>
						<li>Video content: <br>6 hours</li>
						<li>Average completion time:<br>4 weeks</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="syllabus">
  <div class="max-width has-padding">

		<div class="row">
			<div class="course-container">
				<div class="well">
					<div class="well-topper">
					Course Syllabus
					</div>
					<p class="course-summary">In this course, you'll learn how to build a restaurant review site for people to browse and rate local eateries. Admin users can add new restaurants while signed in users can leave star ratings with a review. Anyone can search through the listings index for specific restaurants.   
					</p>
					<div class="chapter-header">
						<h3>Chapters</h3>
					</div>

			    <div class="syllabus-details">

			      <div class="panel-group" id="accordion1">
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
			              	<div class="row">
			              		<div class="col-md-11">
				                	<h2>Get up and running</h2>
				                	<h3>In this chapter, you'll learn how to install and set up your computer environment with the proper tools and software to start coding.</h3>
				                </div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseOne" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Course Introduction (2:31)</h4>
			                	<p>View a live demonstration of the final Yelpdemo app we'll be building. Get a quick tour of the BaseRails platform to see how you can navigate the site and get support when you get stuck. </p>
			                </li>
			                <li>
			                	<h4>Installation for Mac Users (6:08)</h4>
			                	<p>Install the latest versions of Ruby on Rails, Xcode, iTerm2, Homebrew, Git, and Sublime Text on your Mac computer. Set up a shortcut to launch Sublime Text from your terminal. </p>
			                </li>
			                <li>
			                	<h4>Installation for Non-Mac Users (3:35)</h4>
			                	<p>Install the latest versions of Ruby on Rails and Sublime Text on your computer. Launch your terminal with Git Bash and set up a shortcut to launch Sublime Text from your command line.</p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
			              	<div class="row">
			              		<div class="col-md-11">
					                <h2>Create our website</h2>
					                <h3>Learn the routine process of how to create a new Rails app, add static pages, display links, and generate a migration for a new database. Use 'rake routes' to find what routes to use for your URLs and learn to set the homepage URL. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseTwo" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Create a New App (5:28)</h4>
			                	<p>Learn common terminal commands and create a new app Rails. Launch your Rails server and explore localhost:3000 to see your new app.</p>
			                </li>
			                <li>
			                	<h4>Add Our First Pages (6:54)</h4>
			                	<p>Generate a Pages controller in Rails and create an "About" and "Contact" page for your app. Add content to your pages with HTML. </p>
			                </li>
			                <li>
			                	<h4>Add Links (8:08)</h4>
			                	<p>Add links for the "About" and "Contact" URLs and learn how to create links to external sites. Organize common code into a single location in the Application Layout file to decrease code redundancy.</p>
			                </li>
			                <li>
			                	<h4>Add Restaurants (5:03)</h4>
			                	<p>Learn the three-step process for generating migration in Rails. Create a Restaurants database with name, address, phone, and website fields. </p>
			                </li>
			                <li>
			                	<h4>Set the Home Page (3:41)</h4>
			                	<p>Replace the default Rails homepage with the Restaurant Index page that you generated. Use 'rake routes' to find which routes to use for existing URLs.  </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
			              	<div class="row">
			              		<div class="col-md-11">
					                <h2>Get started with Bootstrap</h2>
					                <h3>Use Bootstrap to add powerful design features to your app. Create a sleek navigation bar on top of your site and clean up the design of your forms, links, and buttons. Along the way, you'll learn how to use partials and embedded Ruby to simplify your code files for readability and organization. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseThree" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Install Bootstrap (5:08)</h4>
			                	<p>Install a front-end tool called Bootstrap through the Bootstrap CDN method. Add the table class to the Restaurant Index page and layer additional options on top.   </p>
			                </li>
			                <li>
			                	<h4>Add a Navigation Bar (6:17)</h4>
			                	<p>Learn to work with Bootstrap by reading the documentation on their site. Use Bootstrap to add a navigation bar and add the "About" and "Contact" links. </p>
			                </li>
			                <li>
			                	<h4>Simplify Our Code (6:19)</h4>
			                	<p>It's best practice to simplify code files for readability and debugging. Learn how partials and embedded Ruby work to create a navbar, footer, and Bootstrap partial to store our code.  </p>
			                </li>
			                <li>
			                	<h4>Build Beautiful Forms (13:10)</h4>
			                	<p>Use Bootstrap classes with embedded Ruby code to add better spacing and design to our Restaurant forms. Wrap your pages in a fluid-container for a responsive layout.  </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
			              	<div class="row">
			              		<div class="col-md-11">			              
					                <h2>Launch our Site</h2>
					                <h3>Learn how to save your code using a version control system called Git, then pushing your code files online to Github by creating a new repository for your app. Launch your app live on the web by hosting it for free on Heroku.</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseFour" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Set Up Github (5:55)</h4>
			                	<p>Save your code using a version control system called Git, then create a new Github account to save your code online in a repository. Generate a new SSH key to authenticate your account on your computer.  </p>
			                </li>
			                <li>
			                	<h4>Save Our Progress (6:31)</h4>
			                	<p>Learn how to commit and push your code to Github. Start by creating a new repository on Github for your app. Learn the four commands you need to run each time you save your code to Github.   </p>
			                </li>
			                <li>
			                	<h4>Deploy on Heroku (12:26)</h4>
			                	<p>Learn how to launch your app live on the web by hosting it for free on Heroku. Set up Heroku for the production and development environments on your computer and launch your app live on the web for the first time. </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
			              	<div class="row">
			              		<div class="col-md-11">				              
					                <h2>Add Images</h2>
					                <h3>Add and resize images on your Restaurant pages with the Carrierwave gem. Use the Fog gem to link Carrierwave with Amazon S3, an image hosting service so people can see your images live on the web. Protect your sensitive Amazon S3 account information with the Figaro gem. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseFive" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Add the Carrierwave Gem (9:55)</h4>
			                	<p>Add images to your Restaurants pages with the Carrierwave gem. Add a new column to your Restaurants database to store images and a file_field helper to upload images in your New Restaurant form. Use strong parameters to tell Rails that your image form field is safe. </p>
			                </li>
			                <li>
			                	<h4>Image Hosting with Amazon S3 (9:20)</h4>
			                	<p>Use the Fog gem to link Carrierwave with Amazon S3, where we'll set up image hosting service to people can see your images live on the web. Store localhost images on your local computer and Heroku images on Amazon S3. </p>
			                </li>
			                <li>
			                	<h4>Protect Our Passwords (7:34)</h4>
			                	<p>Use the Figaro gem to pass your confidential Amazon S3 account information to Heroku without having it show up on GitHub for anyone to see.</p>
			                </li>
			                <li>
			                	<h4>Resize Images (6:16)</h4>
			                	<p>Install ImageMagick and MiniMagick to use Carrierwave options to resize your images to a preset thumbnail width and height. </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
											<div class="row">
			              		<div class="col-md-11">				              			              
					                <h2>Add front-end design</h2>
					                <h3>Customize your homepage by adding a banner through Bootstrap's jumbotron class. Use CSS to format the background color, font, and spacing in the navigation bar. Add a static image to the bottom of your homepage to improve the overall design. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseSix" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Create a Custom Banner (9:05)</h4>
			                	<p>Create a homepage banner with Bootstrap's jumbotron class. Add a custom.css.scss file to write CSS code to format the background-color, border, and font inside the banner. Learn to use Google Chrome extensions to find specific web colors.   </p>
			                </li>
			                <li>
			                	<h4>Format the Navbar (5:59)</h4>
			                	<p>Use CSS to format the background color, links, and logo in the navigation bar. Use the padding property to push out some area around the content.  </p>
			                </li>
			                <li>
			                	<h4>Add Static Images (4:14)</h4>
			                	<p>Download and save a static image to your Amazon S3 account and use Ruby code to embed it to your homepage. </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven">
											<div class="row">
			              		<div class="col-md-11">
					                <h2>Add Users</h2>
					                <h3>Use the Devise gem to install multiple user accounts and customize the look and feel of the forms. Add conditional links for users who are signed in or signed out. Use Ruby and jQuery to format Devise alerts and error messages when users don't fill in the form properly.</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseSeven" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Install Devise (9:07)</h4>
			                	<p>Install and set up a popular gem called Devise to give our app the ability to have multiple user accounts. Verify that it works by signing up with an email and password.   </p>
			                </li>
			                <li>
			                	<h4>Insert Conditional Links (16:14)</h4>
			                	<p>Convert the HTML links into embedded Ruby with the link_to Rails helper. Learn to use the command 'rake routes' to find which routes to use for creating new URLs. Add the "Sign up", "Sign in", and "Sign out" links to our navigation bar. Learn how to add conditional links so different users see different links depending on whether they are signed in or not.   </p>
			                </li>
			                <li>
			                	<h4>Style Devise Forms (11:15)</h4>
			                	<p>Improve the look and feel of the Devise forms for signing in and signing up. Use Bootstrap to add sleek buttons to the forms.  </p>
			                </li>
			                <li>
			                	<h4>Customize Alerts and Error Messages (6:36)</h4>
			                	<p>Add some custom Ruby and jQuery code to customize the Devise alert and error messages when users don't fill in the form properly. Use iQuery to add a close button to the messages.  </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseEight">
											<div class="row">
			              		<div class="col-md-11">					              
					                <h2>Add Reviews: part 1</h2>
					                <h3>Create a new Reviews database and link it the Users database by tracking the User ID that each Review belongs to. Delete unnecessary default scaffold URLs and clean up the ripple effect in your code. Learn to use the Rails console to modify existing data in both localhost and Heroku. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseEight" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Build a Review Scaffold (8:52)</h4>
			                	<p>Create a Reviews database by understand how the 'Rails generate scaffold' command works and how Creating, Reading, Updating, and Deleting (CRUD) are the available four actions for any resource. Get a sense for how Models Views Controller works for the Reviews database. </p>
			                </li>			                
			                <li>
			                	<h4>Link Reviews to Users (9:45)</h4>
			                	<p>Generate a migration to add a new column in the Reviews database to track the User ID that each Review belongs to. Tell Rails how the Users and Reviews databases are linked. </p>
			                </li>			                
			                <li>
			                	<h4>Modify Data with Rails Console (5:21)</h4>
			                	<p>Learn how to use the Rails Console to assign a User for every Review in the database. Modify existing localhost and Heroku data. </p>
			                </li>
			                <li>
			                	<h4>Remove Unnecessary URLs (6:07)</h4>
			                	<p>Customize the default scaffold URLs to include only the ones that you need. Delete the View pages, disable routes that point to those URLs, and redirect your links to different pages.  </p>
			                </li>			                
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseNine">
											<div class="row">
			              		<div class="col-md-11">					              
			                		<h2>Add Reviews: part 2</h2>
			                		<h3>Link the Reviews database to the Restaurants database by tracking the Restaurant ID that each Review belongs to. Nest the Restaurant ID in the URL and use 'rake routes' to link it properly. Display all the reviews for each Restaurant on its own page.</h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseNine" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Link Reviews to Restaurants (10:56)</h4>
			                	<p>Generate a migration to add a new column in the Reviews database to track the Restaurant ID that each Review belongs to. Tell Rails how the Restaurants and Reviews databases are linked. Nest the Restaurant ID in the URL and use Rails Console to figure out specific Restaurant IDs on Heroku.  </p>
			                </li>			                
			                <li>
			                	<h4>Nest Resource URLs (7:51)</h4>
			                	<p>Use 'rake routes' to create proper links for each individual restaurant, the 'Edit Review' page, and a "Write a Review" link. </p>
			                </li>			                
			                <li>
			                	<h4>Display Reviews (9:11)</h4>
			                	<p>Display the specific reviews for each Restaurant on its own page. Use Bootstrap's grid layout to format the page into two columns.  </p>
			                </li>
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTen">
											<div class="row">
			              		<div class="col-md-11">				              
			               		 <h2>Add star ratings</h2>
			               		 <h3>Use the iQuery Raty plugin to add star ratings onto our Restaurant's site and New Review page. Learn to calculate an average star rating, display the total number of reviews, and display reviews in reverse chronological order. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseTen" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Convert Numbers to Stars (8:02)</h4>
			                	<p>Download and set up the jQuery Raty plugin to convert numerical ratings to star ratings.  </p>
			                </li>			                
			                <li>
			                	<h4>Layer on More Options (10:23)</h4>
			                	<p>Calculate an average star rating for each Restaurant and display it on the Restaurant's Show page along with the total number of reviews written. For each Review written, turn raw text into HTML and display the reviews in reverse chronological order. </p>
			                </li>			                
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseEleven">
											<div class="row">
			              		<div class="col-md-11">				              
			                <h2>Set validations and permissions</h2>
			                <h3>Add a first name and last name field on the 'Sign Up' form and display the user's name and date for each Review. Use regular expressions to verify if user-submitted data is in the appropriate format. Set different permissions for admin and regular users as well as signed-in and signed-out users. </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>
			              </a>
			            </div>
			          </div>
			          <div id="collapseEleven" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Add User Fields (10:46)</h4>
			                	<p>Distinguish between Admin users and normal users by disabling the ability for normal users to create a new Restaurant page. Add a first and last name field to the 'Sign Up' page and tell Rails that those new fields are safe.  </p>
			                </li>			                
			                <li>
			                	<h4>Integrate Names into Reviews (5:30)</h4>
			                	<p>Display the User's first name and last initial for each Review. Add the date that each Review was written.  </p>
			                </li>			                
			                <li>
			                	<h4>Validate Submitted Data (17:51)</h4>
			                	<p>Validate that the data users are submitting is valid by learning about regular expressions and how to convey the character pattern to verify if data is in the appropriate format.   </p>
			                </li>
			                <li>
			                	<h4>Set User Permissions (13:26)</h4>
			                	<p>Set different authorizations for signed in and signed out users, admin and regular users, and different actions users can take depending on whether a review was written by them.   </p>
			                </li>			                
			              </ul>
			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwelve">
											<div class="row">
			              		<div class="col-md-11">				              
			                <h2>Add bells and whistles</h2>
			                <h3>Add a first name and last name field on the 'Sign Up' form and display the user's name and date for each Review. Use regular expressions to verify if user-submitted data is in the appropriate format. Set different permissions for admin and regular users as well as signed-in and signed-out users.  </h3>
												</div>
				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div>
				             	</div>				              
			              </a>
			            </div>
			          </div>
			          <div id="collapseTwelve" class="panel-collapse collapse">
			            <div class="panel-body">
			              <ul>
			                <li>
			                	<h4>Set up Google Maps (8:15)</h4>
			                	<p>Use the Google Maps API to embed a dynamic map of a specific location for each Restaurant. Zoom in and out and customize the default zoom.   </p>
			                </li>			                
			                <li>
			                	<h4>Set Up Search (13:19)</h4>
			                	<p>Install the Searchkick gem for localhost and Heroku and load it with the restaurants in the database. Create a new URL for the page showing the search results displayed in a table.  </p>
			                </li>			                
			                <li>
			                	<h4>Course Summary (1:58)</h4>
			                	<p>Customize your app further with additional add-on features in our Features Library. Complete additional projects for further practice. </p>
			                </li>             
			              </ul>
			            </div>
			          </div>
			        </div>

			      </div>
			    </div>

    		</div>
    	</div>
    </div>

  </div>
</section>

<section class="coursedemo">
	<div class="container has-padding">
		<h1 class="center">What you'll be building</h1>

<%= link_to "http://etsydemo-2014.herokuapp.com/", class: "screenshot", :target => "_blank" do %>

		<div class="demoscreenshot">
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/ghe342zt4mfaii4/yelpdemo1.png" %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/kukk2jvigc0kaoz/yelpdemo2.png" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/yjg0aynga2z9j4z/yelpdemo3.png" %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/5vmc0sk1w6no79n/yelpdemo4.png" %>
					</div>
				</div>
			</div>
		</div>

<% end %>
		<div class="demo-description center">
			<h2>A reviews and ratings site with Restaurant pages, user accounts, Google maps integration, star ratings, and search. Allow admins to add new restaurants and users to leave reviews for each restaurant.  </h2>
			<%= link_to "Launch demo", "http://etsydemo-2014.herokuapp.com/", class: "btn btn-primary btn-lg center", :target => "_blank" %>
		</div>
	</div>
</section>

<section class="feature-library">
	<div class="container has-padding">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img alt="Webdesignicons" src="https://dl.dropboxusercontent.com/s/k1l271laj5sq830/webdesignicons.png">
        </div>
      </div>
      <div class="col-md-6">
      	<h1>Add more awesome features</h1>
    		<h2>After the completeing the foundational course, head on over to our video library and learn how to implement additional features like social media integration, internationalization, and more. Take your web app to the next level.</h2>
    		<%= link_to "View features library", videos_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>

	</div>
</section>

<section class="project-showcase">
	<div class="container has-padding">
		<h1 class="center">See what projects our students are working on</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/xgp8xx2nprb5mcx/fleamarket.png"), "http://fleamarket-kw.herokuapp.com/", :target => "_blank" %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/e4dhb9tiy38kmr8/eventsorbet.png"), "http://www.eventsorbet.com/", :target => "_blank" %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/ghhwbucb3qzwl10/analytics.png"), "http://analytics123.herokuapp.com/", :target => "_blank" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/7hxmbbo0eyooyus/tenniscourt.png"), "http://www.tenniscourtsponsorships.com/", :target => "_blank" %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/e0xr2fx12tjpozm/farmworks.png"), "http://farmworks.herokuapp.com/", :target => "_blank" %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("https://dl.dropboxusercontent.com/s/s641ucp2ox5la54/getpoplar.png"), "http://etsydemo-6565.herokuapp.com/", :target => "_blank" %>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="action2">
  <div class="max-width has-padding">
  		<h1 class="center">What are you waiting for?</h1>
      <p id="quote1">“I also bought other tutorials on Rails earlier and found yours to be project-oriented and straight to the point. You don't waste so much time coding but instead show the way how things can be created as the final outcome, which I really admire, especially that your explanations are easy to understand. ” - Michael J.</p>
      <p id="quote2">"The scope/angle of this course seems perfectly tailored to what I'm looking for. From the looks of it so far, your course is similar in scope to Hartl's book, but takes a far more practical, hands-on approach - also it helps a great deal to see it in action vs. trying to follow along with just a book." - Chris S.</p>
      <p id="quote3">"Studying a new programming language can be daunting given the number of tools and concepts that need interact with each other. This course tackles that issue by providing a practical approach to learning ruby on rails: you get to build your own functional website" - Emmanuel T.</p>
    	<div class="center">
    		<%= link_to "Enroll today", pricing_path, class: "btn btn-success btn-lg" %>
    	</div>
  </div>
</section>



