 <% @title="Student projects with BaseRails" %>


<section class="stories">
	<div class="max-width has-padding">
		<header class="center">
			<h1>See what our students are currently working on</h1>
		</header>
		<div class="story1">
			<div class="row">
				<div class="col-md-12">
					<div class="center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/xgp8xx2nprb5mcx/fleamarket.png"), "http://fleamarket-kw.herokuapp.com/" %>
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/e4dhb9tiy38kmr8/eventsorbet.png"), "http://www.eventsorbet.com/" %>
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/ghhwbucb3qzwl10/analytics.png"), "http://analytics123.herokuapp.com/" %>
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/7hxmbbo0eyooyus/tenniscourt.png"), "http://www.tenniscourtsponsorships.com/" %>
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/chjooocl53f1s9s/fitjar.png"), "http://glacial-sierra-7811.herokuapp.com/" %>
					</div>
				</div>
				
			</div>
			

			<p>---</p>

			<p>Want your project to be featured? We'd love to hear more - email us at <%= link_to "editorial@baserails.com", "editorial@baserails.com!" %>!</p>

			<%= link_to "Read more testimonials", testimonial_path, class: "btn btn-lg btn-link", data: { no_turbolink: true } %>
		</div>
	</div>
</section>