 <% @title="Student projects with BaseRails" %>


<section class="studentproject">
	<div class="container has padding">
		<header class="center">
			<h1>See what our students are currently working on</h1>
		</header>
		<div class="story1">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/xgp8xx2nprb5mcx/fleamarket.png"), "http://fleamarket-kw.herokuapp.com/", :target => "_blank" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/2vhbr6d3x1os7an/duckduckjeep.png"), "http://www.duckduckjeep.com/", :target => "_blank" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/e0xr2fx12tjpozm/farmworks.png"), "http://farmworks.herokuapp.com/", :target => "_blank" %>					
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/e4dhb9tiy38kmr8/eventsorbet.png"), "http://www.eventsorbet.com/", :target => "_blank" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail center">
							<%= link_to image_tag("https://dl.dropboxusercontent.com/s/ghhwbucb3qzwl10/analytics.png"), "http://analytics123.herokuapp.com/", :target => "_blank" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/chjooocl53f1s9s/fitjar.png"), "http://glacial-sierra-7811.herokuapp.com/", :target => "_blank" %>								
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail center">
          	<%= link_to image_tag("https://dl.dropboxusercontent.com/s/s641ucp2ox5la54/getpoplar.png"), "http://etsydemo-6565.herokuapp.com/", :target => "_blank" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/qi1eq0otkx85ewy/frnsh.png"), "http://frnsh.herokuapp.com/", :target => "_blank" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/ye0u216wdlh1d6y/biklist.png?dl=0"), "http://bikeslist.co/", :target => "_blank" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail center">
          	<%= link_to image_tag("https://dl.dropboxusercontent.com/s/2hqi1gu08jj4lh0/tweetspeak.png"), "https://tweetspeakenglish.com/", :target => "_blank" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/nream0t77winiao/jeolry.png"), "http://jeolry.herokuapp.com/", :target => "_blank" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail center">
						<%= link_to image_tag("https://dl.dropboxusercontent.com/s/m5w3nd799pc9uco/gmaps.png"), "http://gmaps-2014.herokuapp.com/", :target => "_blank" %>
					</div>
				</div>
			</div>

			<p>---</p>

			<p>Want your project to be featured? We'd love to hear more - email us at <%= link_to "susie@baserails.com", "susie@baserails.com!" %>!</p>

		</div>
	</div>
</section>