<div class="container">
	<div class="box">
    <h3 class="center">Welcome to BaseRails!</h3>
    <h4 class="center">We're excited to have you as a student. Please feel free to contact us at alex@baserails.com if you have any comments, questions, or feedback. <br><br>Click below to go your course dashboard. </h4>
		<div class="center">
			<%= link_to "Get started!", chapters_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>

<!-- Google Code for BaseRails Enrollment Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 976333359;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "1nKSCKG-uwgQr9TG0QM";
var google_conversion_value = 99;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/976333359/?value=99&amp;label=1nKSCKG-uwgQr9TG0QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<% if Rails.env.production? %>
  <% if current_user.amount > 0 %>
    <script>
      mixpanel.track("Enrolled on Etsydemo - PAID", {
        "Paid": "<%= current_user.amount %>"
      });

      mixpanel.alias("<%= current_user.id %>");
      mixpanel.people.set({
        "$name": "<%= current_user.name %>",
        "$email": "<%= current_user.email %>",
        "Paid": "<%= current_user.amount %>"
      })
    </script>
  <% else %>
    <script>
      mixpanel.track("Enrolled on Etsydemo - FREE", {
        "Paid": "0"
      });

      mixpanel.alias("<%= current_user.id %>");
      mixpanel.people.set({
        "$name": "<%= current_user.name %>",
        "$email": "<%= current_user.email %>",
        "Paid": "0"
      })
    </script>
  <% end %>
<% end %>