<% @title="Build a web scraper in Ruby on Rails" %>

<section class="courseheader">
	<div class="container">
		<div class="title">
			<div class="courseicon">
          <%= image_tag "https://dl.dropboxusercontent.com/s/j3gvikkyr1oeo6o/dataicon.png" %>
			</div>
			<div class="course-description">
				<h1>Build a web scraper to collect data</h1>
				<p>Write Ruby scripts to parse Wikipedia and Airbnb. <br>Use technology to extract the data you need to automate manual tasks.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<h2>Topics covered</h2>
					<div id="multicolumn">
						<ul>
							<li>Web scraping</li>
							<li>Ruby scripts</li>
							<li>HTML</li>
							<li>Parsing data files</li>
							<li>CSV databases</li>
							<li>Data analysis</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail">
					<h2>Audience</h2>
					<ul>
						<li>Beginner level</li>
						<li>Entrepreneurs</li>
						<li>Data enthusiasts</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="thumbnail last">
					<h2>Time</h2>
					<ul>
						<li>Video content: <br>2 hours</li>
						<li>Average completion time:<br>1 week</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="syllabus">
  <div class="max-width has-padding">

		<div class="row">
			<div class="course-container">
				<div class="well">
					<div class="well-topper">
					Course Syllabus
					</div>
					<p class="course-summary">In this course, you'll learn how to access a webpage's HTML and identify proper selectors for parsing through data. Write a script in the Ruby programming language to scrape Wikipedia and Airbnb and export the information into a database. 
					</p>
					<div class="chapter-header">
						<h3>Videos</h3>
					</div>

			    <div class="syllabus-details">

			      <div class="panel-group" id="accordion1">
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
 -->			              	<div class="row">
			              		<div class="col-md-11">
				                	<h2 class="scraper">Intro to Web Scraping</h2>
				                	<h3>What is web scraping and how can it be used to gather and analyze data on any website? See examples of how web scraping is used to build apps.</h3>
				                </div>
<!-- 				                <div class="col-md-1">
											  	<span class="glyphicon glyphicon-play-circle"></span>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
 -->			              	<div class="row">
			              		<div class="col-md-11">
					                <h2 class="scraper">Find Data Within HTML</h2>
					                <h3>Learn to read HTML and find the appropriate tags to grab the information you need. </h3>
<!-- 												<div class="col-md-1">
											  	<span class="glyphicon glyphicon-play-circle"></span>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
 -->			              	<div class="row">
			              		<div class="col-md-11">
					                <h2 class="scraper">Create and Run Script</h2>
					                <h3>Write your first script in Ruby to store HTML from Wikipedia in a variable. Install and use Ruby gems to access information from the web.  </h3>
												</div>
<!-- 				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
 -->			              	<div class="row">
			              		<div class="col-md-11">
					                <h2 class="scraper">Scrape Wikipedia Tables</h2>
					                <h3>Match HTML selectors in Ruby to scrape the information you need. Use Ruby methods to display data in text format. </h3>
												</div>
<!-- 				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
 -->			              	<div class="row">
			              		<div class="col-md-11">
					                <h2 class="scraper">Scrape Airbnb Listings</h2>
					                <h3>Write a script to scrape different categories of information for each listing including title, price, room type, and location. </h3>
												</div>
<!-- 				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
 -->											<div class="row">
			              		<div class="col-md-11">
					                <h2 class="scraper">Write Data to CSV File</h2>
					                <h3>Store listing information into array variables and use a loop to write the data contained in the variables into a CSV file. </h3>
												</div>
<!-- 				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven">
 -->											<div class="row">
			              		<div class="col-md-11">
					                <h2 class="scraper">Parse Data</h2>
					                <h3>Split listing details into multiple subcategories by parsing the data. Clean up the data into a standardized format. </h3>
												</div>
<!-- 				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseEight">
 -->											<div class="row">
			              		<div class="col-md-11">
					                <h2 class="scraper">Scrape Multiple Pages</h2>
					                <h3>Learn to scrape every page of listings on Airbnb by running a loop. Change the URL structure to scrape different pages.  </h3>
												</div>
<!-- 				                <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseNine">
 -->											<div class="row">
			              		<div class="col-md-11">
				               		<h2 class="scraper">Check Data Quality</h2>
			               		 <h3>Conduct a data quality check in our CSV file to identify errors. Fix formatting errors by manipulating the way data is displayed. </h3>
												</div>
				                <!-- <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>
			        <div class="panel panel-default">
			          <div class="panel-heading">
			            <div class="panel-title">
<!-- 			              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTen">
 -->											<div class="row">
			              		<div class="col-md-11">
			               		 <h2 class="scraper">Analyze Data</h2>
			               		 <h3>Manipulate the data to draw insights into pricing on Airbnb. Develop an understanding of the power of scraping to automate manual tasks and gather large quantities of information on the web.  </h3>
												</div>
				                <!-- <div class="col-md-1">
				                  <button type="button" class="btn btn-default btn-sm">
											  		<span class="glyphicon glyphicon-plus"></span>
													</button>
				                </div> -->
				             	</div>
<!-- 			              </a>
 -->			            </div>
			          </div>
			        </div>

			      </div>
			    </div>

    		</div>
    	</div>
    </div>

  </div>
</section>

<section class="coursedemo">
	<div class="container has-padding">
		<h1 class="center">What you'll be building</h1>

<%= link_to "http://yelpdemo.herokuapp.com/", class: "screenshot", :target => "_blank" do %>

		<div class="demoscreenshot">
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/ghe342zt4mfaii4/yelpdemo1.png" %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/kukk2jvigc0kaoz/yelpdemo2.png" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/yjg0aynga2z9j4z/yelpdemo3.png" %>
					</div>
				</div>
				<div class="col-md-5">
					<div class="thumbnail">
						<%= image_tag "https://dl.dropboxusercontent.com/s/5vmc0sk1w6no79n/yelpdemo4.png" %>
					</div>
				</div>
			</div>
		</div>

<% end %>
		<div class="demo-description center">
			<h2>A reviews and ratings site with Restaurant pages, user accounts, Google maps integration, star ratings, and search. Allow admins to add new restaurants and users to leave reviews for each restaurant.  </h2>
			<%= link_to "Launch demo", "http://yelpdemo.herokuapp.com/", class: "btn btn-primary btn-lg center", :target => "_blank" %>
		</div>
	</div>
</section>

<section class="action2">
  <div class="max-width has-padding">
  		<h1 class="center">What are you waiting for?</h1>
      <p id="quote1">“I also bought other tutorials on Rails earlier and found yours to be project-oriented and straight to the point. You don't waste so much time coding but instead show the way how things can be created as the final outcome, which I really admire, especially that your explanations are easy to understand. ” - Michael J.</p>
      <p id="quote2">"The scope/angle of this course seems perfectly tailored to what I'm looking for. From the looks of it so far, your course is similar in scope to Hartl's book, but takes a far more practical, hands-on approach - also it helps a great deal to see it in action vs. trying to follow along with just a book." - Chris S.</p>
      <p id="quote3">"Studying a new programming language can be daunting given the number of tools and concepts that need interact with each other. This course tackles that issue by providing a practical approach to learning ruby on rails: you get to build your own functional website" - Emmanuel T.</p>
    	<div class="center">
    		<%= link_to "Enroll today", pricing_path, class: "btn btn-success btn-lg" %>
    	</div>
  </div>
</section>



