<% @title = "#{@course.name} Dashboard" %>

<!-- Google Code for BaseRails Enrollment Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 976333359;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "1nKSCKG-uwgQr9TG0QM";
var google_conversion_value = 99;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/976333359/?value=99&amp;label=1nKSCKG-uwgQr9TG0QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<div class="row">
  <div class="col-md-3">
    <%= render partial: "/chapters/sidebar", locals: {chapters: @chapters} %>
  </div>

  <div class="col-md-9">
  	<h3>Welcome to BaseRails! Choose a chapter on the left to get started.</h3><br>
  	<h4>Recent discussion:</h4>
    <% @comments.each do |comment| %>
      <div class="comment">
        <div class="comment-chapter">
          <%= puts comment.commentable.inspect %>
          <%= "#{comment.commentable.section}: #{comment.commentable.title}" %>
        </div>
        <small>
        	<%= "Posted #{time_ago_in_words(comment.updated_at)} ago by" %>
    		<% if comment.user.present? && comment.user.admin? %>
      			<span id="admin">
    		<% else %>
      			<span id="name">
    		<% end %>
      			<%= "#{comment.user_name}" %>
    		</span>
        </small>
        <p><%= h(comment.body).gsub(/\n/, '<br/>').html_safe %></p>
      </div>
    <% end %>
  </div>
</div>