<div class="row">

  <div class="col-md-3">
    <%= render partial: "sidebar", locals: {chapters: @chapters} %>
  </div>

  <div class="col-md-9">
    <br>
    <br>

    <div class="center">
      <div class="embed-container">
        <iframe src=<%= @chapter.url %> frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>

    <h3><%= @chapter.title %></h3>

    <div class="panel panel-default">
      <div class="panel-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><%= link_to "Notes", "#notes", :'data-toggle' => "tab" %></li>
          <li><%= link_to "Transcript", "#transcript", :'data-toggle' => "tab" %></li>
          <li><%= link_to "Comments", "#comments", :'data-toggle' => "tab" %></li>
        </ul>

        <br>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade in active" id="notes">
            <div class="notes">
              <% unless @chapter.notes.blank? %>
                <%= raw textilize(coderay(@chapter.try(:notes))) %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="transcript">
            <div class="transcript">
              <% unless @chapter.notes.blank? %>
                <%= raw textilize(coderay(@chapter.try(:transcript)) %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="comments">
            Comments here
          </div>
        </div>
      </div>
    </div>

    <% if current_user.try(:admin?) %>
      <%= link_to 'Edit', edit_chapter_path(@chapter), class: "btn btn-link" %> |
      <%= link_to 'Back', chapters_path, class: "btn btn-link" %>
    <% end %>
  </div>
</div>