<section class="charges-body">
  <div class="max-width has-padding">
    <div class="row">
      <h3 class="center">Thanks for being a BaseRails student!</h3>
      <p class="center">We've gotten a ton of requests for new content so we've spent the past month creating a library of screencasts covering popular topics including social media integration, search, and APIs.<p>

      <p class="center">If you've enjoyed the Etsydemo course videos so far, I hope that you'll support us by paying $25 to check out our latest content. As always, I'm happy to answer any questions you have.</p>
      <br>
      <p class="center">Thanks for your support!</p>
      <p class="center">- Alex</p>
    </div>

    <div class="center pay">
      <%= form_tag charges_path do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Access to video library"
                data-email="<%= current_user.email %>"
                data-name="BaseRails"
                data-allow-remember-me="false"
                data-amount="2500"></script>
      <% end %>
    </div>
  </div>
</section>

<!-- Mixpanel event and identity tracking -->
<script>
  mixpanel.track("Video Library Signup Page");

  mixpanel.identify("<%= current_user.id %>")
  mixpanel.people.set({
    "$name": "<%= current_user.name %>",
    "$email": "<%= current_user.email %>",
    "Paid": "<%= current_user.amount %>"
  })
</script>