<footer class="site-footer">
	<div class="container">
		<div class="footer-links center">
			<%= link_to "About us", about_path %>
        	<%= link_to "Courses", root_path(anchor: "course"), data: { no_turbolink: true } %>
        	<%= link_to "Features library", videos_path, data: { no_turbolink: true } %>
			<%=link_to "Blog", blog_path %>
			<%= mail_to "alex@baserails.com" do %>
			  Contact
			<% end %>
		</div>
		<div class="social center">
			<%= link_to image_tag("https://dl.dropboxusercontent.com/s/onv8sst20hjsqrn/twitter.png"), "http://www.twitter.com/baserails" %>
			<%= link_to image_tag("https://dl.dropboxusercontent.com/s/99aqgtpqitvo9vs/facebook.png"), "https://www.facebook.com/baserails" %>
		</div>
		<p class="copyright center">Copyright © 2014 BaseRails</p>
	</div>
</footer>
