<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="https://www.baserails.com" id="_brand31" itemprop="brand" itemscope itemtype="http://schema.org/Brand" class="navbar-brand"><span itemprop="name">BaseRails</span></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Blog", "http://blog.baserails.com" %></li>

      <% if user_signed_in? %>
        <li><%= link_to "Course", chapters_path %></li>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Enroll", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


<% if (controller_name == 'pages') && (action_name == 'home') %>
  <div class="jumbotron">
    <div class="container">
      <div class="center">
      <meta itemprop="description" content="Have an idea? Build it. Learn to code web applications from scratch">
        <h2>Have an idea? Build it.<h2>
        <h3>Learn to code web applications from scratch.<br>
        </h3>
      </div><br><br>
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="center">
        <%= link_to "Enroll today for $99", new_user_registration_path,
            class: "btn btn-lg btn-success center", data: { no_turbolink: true } %><span itemprop="price">
      </div>
    </div>
  </div>
<% end %>