<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, class: "alert alert-info alert-dismissable center") do %>
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <% end %>
  <% end %>

  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <%= render 'layouts/zopim' %>

  <% if user_signed_in? %>
    <script>
      $zopim(function() {
        $zopim.livechat.hideAll();
        $zopim.livechat.setName("<%= current_user.name %>");
        $zopim.livechat.setEmail("<%= current_user.email %>");
      });
    </script>
  <% else %>
    <script>
      $zopim(function() {
        $zopim.livechat.button.show();
      });
    </script>

    <% if false %>
      <script>
        $zopim(function() {
          $zopim.livechat.setOnUnreadMsgs(function(number) {
            alert("Hello");
          });
        });
      </script>
    <% end %>
  <% end %>

</body>
</html>