<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, class: "alert alert-info alert-dismissable center") do %>
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <% end %>
  <% end %>

  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <%= render 'layouts/zopim' %>

</body>
</html>