<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body class="<%= controller_name %> <%= action_name %>">

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, class: "alert alert-info alert-dismissable center") do %>
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <% end %>
  <% end %>

  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <%#= render 'layouts/zopim' %>

</body>
</html>
