<!DOCTYPE html>
<html>
<head>
  <title>Learnrails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>

  <% if false %>
    <%= yield(:head) %>
  <% end %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="<%= controller_name %> <%= action_name %>">

  <%= render 'layouts/header' %>


<!-- <div class="container"> -->

    <!-- Display flash messages -->
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, class: "alert alert-info alert-dismissable") do %>
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <% end %>
    <% end %>

  <%= yield %>
  <%= render 'layouts/footer' %>
<!-- </div> -->

</body>
</html>
