<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html>
<head>
  <title>BaseRails: Learn to build web applications from scratch</title>
  <meta name="description=" content="Master new skills by diving into a web project. Learn the fundamentals of Rails 4, Ruby 2, Bootstrap, databases, APIs, and other powerful tools.">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'https://dl.dropboxusercontent.com/s/s82cg7msu6y6zaz/BaseRails.ico' %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>

  <% if false %>
    <%= yield(:head) %>
  <% end %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="<%= controller_name %> <%= action_name %>">

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, class: "alert alert-info alert-dismissable center") do %>
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <% end %>
  <% end %>

  <%= render 'layouts/header' %>


<!-- <div class="container"> -->

    <!-- Display flash messages -->
<!--     <% flash.each do |name, msg| %>
      <%= content_tag(:div, class: "alert alert-info alert-dismissable") do %>
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <% end %>
    <% end %> -->

  <%= yield %>
  <%= render 'layouts/footer' %>
<!-- </div> -->

</body>
</html>
