<!-- Display current plan info -->
<% if current_user.plan.present? %>
  <p><span class="current-info">Current Subscription:</span> <%= @current_plan.name %></p>
  <p><span class="current-info">Current Price:</span> <%= number_to_currency(@current_plan.amount.to_f/100) %></p>
  <p><span class="current-info">Billing Cycle Ends:</span> <%= Time.at(@subscription["current_period_end"]).strftime("%m/%d") %>
<% else %>
  <p><span class="current-info">Current Subscription:</span> None</p>
  <p><span class="current-info">Current Price:</span> N/A</p>
<% end %>

<br>

<% if @card.nil? %>
  <p><span class="current-info">Card Info:</span> No cards on file</p>
<% else %>
  <p><span class="current-info">Billing Information:</span> XXXX-XXXX-XXXX-<%= @card.last4 %></p>
  <p><span class="current-info">Expiration:</span> <%= "#{@card.exp_month}/#{@card.exp_year}" %></p>
<% end %>


<%= form_for(:user, :url => { :action => :update_plan }, :html => {id: "plan_form", :method => :put}) do |f| %>
  <div id="plan_error" class="alert alert-danger alert-dismissable" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <div id="plan_form">
    <div class="form-group">
      <%= f.label :plan, "$#{Stripe::Plan.retrieve("monthly_paid").amount/100} monthly" %>
      <%= f.radio_button :plan, "monthly_paid" %>

      <%= f.label :plan, "$#{Stripe::Plan.retrieve("yearly_paid").amount/100} yearly" %>
      <%= f.radio_button :plan, "yearly_paid" %>
    </div>
  </div>

  <%= f.submit "Update subscription", class: "btn btn-primary" %>
<% end %>

<br>





<%= form_for(:user, :url => { :action => :update_card }, :html => {id: "card_form", :method => :put}) do |f| %>
  <div id="card_error" class="alert alert-danger alert-dismissable" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <!-- <div class="row"> -->
    <%#= image_tag "https://dl.dropboxusercontent.com/s/qq57gvp6m3qfjra/lock.png" %>
<!--     <h3>Secure credit card payment<br>
    <span id="jargon">This is a secure 128-bit SSL encrypted payment.</span></h3>
  </div> -->
  
  <%= f.hidden_field :stripe_card_token %>
  
  <div class="form-group">
    <div class="row">
      <div class="col-lg-8">
        <%= label_tag :card_number, "Credit Card Number" %>
        <%= image_tag "https://dl.dropboxusercontent.com/s/wup1jm6duaz4vbx/creditcardicon.png", id: "credit" %>

        <%= text_field_tag :card_number, nil,
            { :name => nil, :'data-stripe' => "number", maxlength: "16",
              autocompletetype: "cc-number", class: "form-control card-number input-sm" } %>
      </div>
      <div class="col-lg-4">
        <%= label_tag :card_code, "CVC" %>
        <%= text_field_tag :card_code, nil,
            { :name => nil, :'data-stripe' => "cvc", maxlength: "4",
              autocomplete: "off", autocompletetype: "cc-csc",
              class: "form-control card-cvc input-sm" } %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <%= label_tag :card_month, "Expiration (MM/YYYY)" %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <%= select_month nil, {use_two_digit_numbers: true, prompt: "Month"},
            { :name => nil, :id => "card_month", :'data-stripe' => "exp-month", :class => "form-control input-sm" } %>
      </div>
      <div class="col-lg-3">
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15, prompt: "Year"},
            { :name => nil, :id => "card_year", :'data-stripe' => "exp-year", :class => "form-control input-sm" } %>
      </div>
    </div>

    <br>
    
    <div class="row">
      <div class="col-lg-12">
        <%= f.submit "Update card", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.plan.present? %>
  
  <%= form_for(:user, :url => { :action => :cancel_plan }, :html => {id: "unsubscribe_form", :method => :put}) do |f| %>
    <div id="plan_error" class="alert alert-danger alert-dismissable" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
    
    <h4>Unhappy?</h4>
    
    <%= f.submit "Cancel subscription", class: "btn btn-danger" %>
  <% end %>
<% end %>

<script>
  mixpanel.track_links("#unsubscribe-link", "Click unsubscribe link");
</script>