<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <h3>Subscription Plan</h3>
    <% if current_user.customer_id.blank? %>
      <!-- Allow legacy users to add a plan + card -->
      <p>You aren't subscribed right now</p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#combined-modal">Subscribe</button>
    <% else %>
      <% if current_user.plan.blank? %>
        <!-- Allow users with a card on file to add a new plan -->
        <p>You aren't subscribed right now</p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#plan-options">Subscribe</button>
      <% else %>
        <!-- Allow subscribers to change to a new plan -->
        <p><%= current_user.plan.titleize %></p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#plan-options">Change Plan</button>
        <%= link_to "Pause Subscription", :action => "pause", class: "btn btn-danger",
              :data => { :confirm => "Are you sure?" } %>
      <% end %>

      <h3>Payment Card</h3>
      <p>Using card ending with <%= current_user.last_4_digits %></p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#card-data">Change Card</button>

      <h3>Cancel my account</h3>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
        :data => { :confirm => "Are you sure?" }, class: "btn btn-danger",
        :method => :delete %></p>
    <% end %>
  </div>
</div>

<%= render 'plan_options_modal' %>
<%= render 'card_data_modal' %>